<Measure-box-canvas @beatSchema={{beatSchema}} />

<div class="measure-box-chords">
  {{#each chords as |chord|}}
    <div class="measure-chord">
      <span>{{chord}}</span>
    </div>
  {{/each}}
</div>
