.chord-chart-header {

    margin: 15px 0 20px @chart-section-sidebar-width;

    .song-name {

        position: relative;

        h1 {
            font-size: 30px;
            margin: 0;
        }

    }

}
