.chord-chart-header {

    width: @site-content-width;
    margin: 15px auto 20px;
    padding-bottom: 5px;
    border-bottom: solid 1px #999;

    .song-name {

        position: relative;
        float: left;

        h1 {
            font-size: 30px;
            margin: 0;
        }

    }

    .key {
        float: left;
        margin-left: 10px;
        line-height: 39px;
    }

}
