.chord-chart-header {

    @header-width: @chart-width - @chart-section-sidebar-width - 9px;

    width: @header-width;
    margin: 15px 0 20px @chart-section-sidebar-width;
    padding-bottom: 5px;
    border-bottom: solid 1px #999;

    .song-name-short-description {

        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .song-name {

            h1 {
                margin: 0;
                font-size: 30px;
                font-weight: normal;
            }

        }

        .short-description-links {

            max-width: 300px;
            text-align: right;
            vertical-align: bottom;
            margin-bottom: 3px;

            .short-description {
                display: inline;
            }

            .chart-link {
                display: inline;
                margin-left: 5px;
                color: black;
            }

        }

    }

    .key-author {

        .key {
            float: left;
        }

        .author {

            float: right;

            a {

                font-weight: normal;
                color: #000;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

            }

        }

    }

}
