@import "../../core/widgets/_box-choice-list.less";
@import "../../core/widgets/_key-select.less";
@import "../../core/_vars.less";

._base-content {

    .chord-chart-page {

        margin: 0 auto;
        width: @chart-width + @site-sidebar-width + @chart-section-sidebar-width;

        .chord-chart {

            float: left;
            width: @chart-width;
            user-select: none;

            @import "_header.less";
            @import "_chart.less";
            @import "_widgets.less";

        }

        .sidebar {
            margin-right: @chart-section-sidebar-width;
        }

        &.edit-on {
            @import "_edit.less";
        }

    }

}
