@import "../../core/widgets/_box-choice-list.less";
@import "../../core/widgets/_key-select.less";
@import "../../core/_vars.less";

._base-content {

    .chord-chart {

        margin: 0 auto;
        margin-bottom: 200px;
        width: @chart-width + @chart-section-sidebar-width;
        user-select: none;

        @import "_header.less";
        @import "_chart.less";
        @import "_widgets.less";

        &.edit-on {
            @import "_edit.less";
        }

    }

}
