
body {
    font-family: Helvetica;
}

header h1 {
    font-size: 30px;
    text-align: center;
}

.chord-chart {
    overflow: hidden;
    letter-spacing: 1px;
}

.section {
    margin: 0 auto 15px;
    overflow: hidden;
}

.section-sidebar {
    position: relative;
    float: left;
    width: {{ section_sidebar_width }}px;
}

.section-sidebar-title {
    position: absolute;
    width: {{ section_sidebar_width }}px;
    text-align: center;
    font-size: 20px;
    background: #FFF;
}

.chord-boxes {
    float: left;
}

.line {
    clear: both;
}

.box {
    float: left;
    height: {{ box_height }}px;
    width: {{ box_width }}px;
    border: solid {{ border_width }}px #000;
    border-width: 0 {{ border_width }}px {{ border_width }}px 0;
}

.line-first .box {
    border-top-width: {{ border_width }}px;
}

.box-first {
    border-left-width: {{ border_width }}px;
}

.box-full {
    line-height: {{ box_height }}px;
    text-align: center;
    font-size: 27px;
}

.box-half-half {
    position: relative;
}

.box-half-half .chord-first {
    position: absolute;
    font-size: 20px;
    line-height: {{ box_width|pixelpercent:60 }}px;
    width: {{ box_width|pixelpercent:60 }}px;
    text-align: center;
}

.box-half-half .chord-second {
    position: absolute;
    font-size: 20px;
    line-height: {{ box_width|pixelpercent:60 }}px;
    top: {{ box_height|pixelpercent:40 }}px;
    left: {{ box_width|pixelpercent:40 }}px;
    width: {{ box_width|pixelpercent:60 }}px;
    text-align: center;
}

.box-half-quarter-quarter {
    position: relative;
}

.box-half-quarter-quarter .chord-first {
    position: absolute;
    font-size: 20px;
    line-height: {{ box_height|pixelpercent:60 }}px;
    width: {{ box_width|pixelpercent:60 }}px;
    text-align: center;
}

.box-half-quarter-quarter .chord-second {
    position: absolute;
    font-size: 15px;
    line-height: {{ box_height|pixelpercent:35 }}px;
    width: {{ box_width }}px;
    top: {{ box_height|pixelpercent:65 }}px;
    text-align: center;
}

.box-half-quarter-quarter .chord-third {
    position: absolute;
    font-size: 15px;
    line-height: {{ box_height }}px;
    width: {{ box_width|pixelpercent:40 }}px;
    left: {{ box_width|pixelpercent:60 }}px;
    text-align: center;
}
