._base-header {

    padding: 30px 0 20px;
    height: 95px;

    .header-container {

        margin: 0 auto;
        width: @site-content-width + 2 * @chart-section-sidebar-width;

        .content {

            margin: 0 auto;
            width: @site-content-width;

            h1 {

                float: left;
                font-weight: 100;
                font-size: 32px;
                line-height: 32px;
                margin: 0 25px 0 0;

                a {
                    text-decoration: none;
                    color: inherit;
                }

            }

            .search {

                position: relative;
                float: left;
                z-index: 90;

                @search-input-width: 250px;
                @search-button-width: 50px;

                .search-form {
                    float: left;
                    border: solid 1px #999;
                    border-radius: 5px;
                    width: @search-input-width + @search-button-width + 2;
                }

                &.focussed .search-form {
                    border-color: @input-hover-border-color;
                    box-shadow: 0 0 3px #999;
                }

                .search-term {

                    float: left;

                    .before-search-term,
                    .behind-search-term {
                        float: left;
                        width: 0;
                        padding: 0;
                        border: 0;
                    }

                    .search-term-input {

                        float: left;
                        width: @search-input-width;
                        height: 41px;
                        background: transparent;
                        border: none;
                        border-radius: 5px;
                        box-shadow: none;

                        &:hover, &:focus {
                            background: transparent;
                            border: none;
                            box-shadow: none;
                        }

                        &:focus::-webkit-input-placeholder { color:transparent; }
                        &:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
                        &:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
                        &:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

                    }

                }

                .search-button {

                    float: left;

                    button {
                        font-size: 20px;
                        height: 41px;
                        width: @search-button-width;
                        padding-top: 5px;
                        border: none;
                        border-radius: 5px;
                    }

                }

                .search-results {

                    display: none;
                    position: absolute;
                    top: 45px;
                    clear: both;
                    width: @search-input-width + @search-button-width;
                    padding: 5px 0;
                    list-style: none;
                    background: #EEE;
                    border: solid 1px #333;
                    border-radius: 5px;
                    box-shadow: 0 0 8px -1px #333;

                    @keyframes attention-animation {
                        0% {
                            -webkit-transform: scale3d(1, 1, 1);
                            transform: scale3d(1, 1, 1);
                        }
                        10% {
                            -webkit-transform: scale3d(1.02, 1.02, 1.02);
                            transform: scale3d(1.02, 1.02, 1.02);
                        }
                        30% {
                            -webkit-transform: scale3d(0.98, 0.98, 0.98);
                            transform: scale3d(0.98, 0.98, 0.98);
                        }
                        50% {
                            -webkit-transform: scale3d(1.02, 1.02, 1.02);
                            transform: scale3d(1.02, 1.02, 1.02);
                        }
                        60% {
                            -webkit-transform: scale3d(1, 1, 1);
                            transform: scale3d(1, 1, 1);
                        }
                    }

                    &.attention-animation {
                        -webkit-animation-name: attention-animation;
                        animation-name: attention-animation;
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                    }

                    li {

                        padding: 0;

                        a, span {
                            display: block;
                            padding: 4px 10px;
                            color: #000;
                            text-decoration: none;
                        }

                        span.loading {
                            display: inline-block;
                            height: 16px;
                            width: 100%;
                            background: url('@{static-root}/images/loading.gif') center center no-repeat;
                        }

                        &.selected a {
                            background: #165CE0;
                            color: #FFF;
                        }

                    }

                }

                &.results-on .search-results {
                    display: block;
                }

            }

            nav {

                float: right;
                margin-top: 10px;

                .nav-item {

                    float: left;
                    margin-right: 5px;
                    position: relative;

                    span.fa {
                        margin-right: 5px;
                    }

                    .text {

                        padding: 5px 8px;
                        border: solid 1px #FFF;
                        border-radius: 4px;
                        text-decoration: none;
                        color: inherit;

                        &:hover {
                            border: solid 1px #999;
                        }

                    }

                    .nav-item-popup {

                        position: absolute;
                        top: 40px;
                        padding: 10px;

                        .sub-button {

                            cursor: pointer;
                            overflow: hidden;
                            padding: 5px;
                            white-space: nowrap;

                            a {
                                text-decoration: none;
                                color: inherit;
                            }

                            &:hover {
                                background: #EEE;
                                border-radius: 3px;
                            }

                        }

                    }

                    &.help .nav-item-popup {

                        left: -60px;

                        .arrow-up {
                            left: 65px;
                        }

                    }

                    &.user .nav-item-popup {

                        left: -20px;

                        .arrow-up {
                            left: 50px;
                        }

                    }

                    &:last-child {
                        margin-right: 0;
                    }

                }

            }

        }

    }

}
