._base-header {

    padding: 30px 0 20px;
    height: 45px;

    .header-container {

        margin: 0 auto;
        width: @site-content-width + 2 * @chart-section-sidebar-width;

        .content {

            margin: 0 auto;
            width: @site-content-width;

            h1 {

                float: left;
                font-weight: 100;
                font-size: 32px;
                line-height: 32px;
                margin: 0 25px 0 0;

                a {
                    text-decoration: none;
                    color: inherit;
                }

            }

            .search {

                position: relative;
                float: left;

                @search-input-width: 250px;
                @search-button-width: 50px;

                .search-container {
                    position: absolute;
                    border: solid 1px #999;
                    border-radius: 5px;
                    width: @search-input-width + @search-button-width;
                }

                &.focussed .search-container {
                    background-color: @input-hover-background-color;
                    border-color: @input-hover-border-color;
                    box-shadow: 0 0 3px #999;
                    box-shadow-width: 1px 1px 1px 0;
                }

                .search-term {

                    float: left;

                    .before-search-term,
                    .behind-search-term {
                        float: left;
                        width: 0;
                        padding: 0;
                        border: 0;
                    }

                    .search-term-input {

                        float: left;
                        width: @search-input-width;
                        height: 39px;
                        background: transparent;
                        border: none;
                        border-radius: 5px;
                        box-shadow: none;

                        &:hover, &:focus {
                            background: transparent;
                            border: none;
                            box-shadow: none;
                        }

                        &:focus::-webkit-input-placeholder { color:transparent; }
                        &:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
                        &:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
                        &:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

                    }

                }

                .search-button {

                    float: left;

                    button {
                        font-size: 20px;
                        height: 39px;
                        width: @search-button-width;
                        padding-top: 5px;
                        background: transparent;
                        border: none;
                        border-radius: 5px;
                    }

                }

                .search-results {

                    display: none;
                    clear: both;
                    width: @search-input-width + @search-button-width;
                    padding: 0;
                    list-style: none;
                    background: #FFF;
                    border-radius: 5px;

                    li {

                        padding: 8px 10px;
                        border-top: solid 1px #999;

                        &.selected {
                            background: #EEE;
                        }

                    }

                }

                &.results-on .search-results {
                    display: block;
                }

            }

            nav {

                float: right;
                margin-top: 10px;

                .nav-item {

                    float: left;
                    margin-right: 5px;
                    position: relative;

                    span.fa {
                        margin-right: 5px;
                    }

                    .text {

                        padding: 5px 8px;
                        border: solid 1px #FFF;
                        border-radius: 4px;
                        text-decoration: none;
                        color: inherit;

                        &:hover {
                            border: solid 1px #999;
                        }

                    }

                    .nav-item-popup {

                        position: absolute;
                        top: 40px;
                        padding: 10px;

                        .sub-button {

                            cursor: pointer;
                            overflow: hidden;
                            padding: 5px;
                            white-space: nowrap;

                            a {
                                text-decoration: none;
                                color: inherit;
                            }

                            &:hover {
                                background: #EEE;
                                border-radius: 3px;
                            }

                        }

                    }

                    &.help .nav-item-popup {

                        width: 120px;
                        left: -60px;

                        .arrow-up {
                            left: 65px;
                        }

                    }

                    &.user .nav-item-popup {

                        width: 90px;
                        left: -20px;

                        .arrow-up {
                            left: 50px;
                        }

                    }

                    &:last-child {
                        margin-right: 0;
                    }

                }

            }

        }

    }

}
