@import "libs/_normalize.less";
@import "libs/font-awesome/_font-awesome.less";
@import "fonts/_oxygen.less";
@import "default_widgets/_popup-box.less";
@import "default_widgets/_forms.less";
@import "default_widgets/_light-table.less";
@import "_base.less";
@import "_vars.less";

body {
    font-family: @default-font;
    font-weight: 100;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    margin: 0;
}

h1, ._h1 {
    font-size: 30px;
    font-weight: 100;
    margin: 24px 0;
    line-height: 40px;
}

h2, ._h2 {
    font-size: 25px;
    font-weight: 100;
    margin: 30px 0 15px 0;
    line-height: 36px;
}

h3, ._h3 {
    font-size: 21px;
    font-weight: 100;
    margin: 15px 0;
    line-height: 32px;
}

h4, ._h4 {
    font-size: 18px;
    font-weight: 100;
    margin: 12px 0;
    line-height: 29px;
}

h5, ._h5 {
    font-size: 16px;
    font-weight: 100;
    margin: 10px 0;
    line-height: 26px;
}

h6, ._h6 {
    font-size: 14px;
    font-weight: 100;
    margin: 8px 0;
    line-height: 24px;
}

p {
    font-size: 16px;
    line-height: 26px;
}

strong {
    font-weight: normal;
}

#js-templates {
    display: none;
}

._site-content {
    width: @site-content-width;
    margin-left: auto;
    margin-right: auto;
}

._site-sidebar {
    width: @site-sidebar-width;
    float: right;
}

._small {
    font-size: 14px;
    line-height: 20px;
}

._link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

._error {
    color: #B00;
}

._success {
    color: #090;
}

._clearfix {
    clear: both;
}

._no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}
