{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="css/about.css" />
{% endblock %}

{% block content %}

    <article class="about">

        <nav>
            <div class="_site-content">
                <a class="active">About JazzChords</a>
                <a>Our Team</a>
                <a>Contribute</a>
            </div>
        </nav>

        <div class="content _site-content">

            <h1 class="_h2">
                JazzChords is the best place to create, share and explore chord
                charts for any style of music, for any instrument.
            </h2>

            <div class="part1">

                <p class="_h4">
                    With the chart editor and search features of
                    JazzChords, it has never been easier for groups and
                    individuals to learn, share and remember songs.
                </p>

                <p class="_h4">
                    The idea for JazzChords arose from the lack of websites
                    that provide quality chord charts and an intuitive interface to create them. 
                </p>

                <div class="_clearfix"></div>

            </div>

            <div class="part2">

                <p>
                    The technology behind JazzChords is free software, which means
                    everyone is free to read and change the source code and to
                    contribute to make JazzChords better. If you are interested in
                    contributing in any way, you can look on the
                    <a href="https://www.github.com/gitaarik/jazzchords/" target="_blank">GitHub page</a>
                    or <a href="">contact us</a>.
                </p>

            </div>

        </div>

    </article>

{% endblock %}
