{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="css/frontpage.css" />
{% endblock %}

{% block content %}

    <article class="frontpage _site-content">

        <h1>
            Create and share<br>
            good lookin' Chord Charts.
        </h1>

        <div class="content">

            <div class="text">

                <h2 class="_h4">
                    An open database of chordcharts, build by the
                    community, which <a href="{{ url('users:signup:signup') }}">you can be a part of</a>.
                </h2>

                <h2 class="_h4">
                    <a href="{{ url('search') }}">Explore the list of chordcharts</a> and learn<br>
                    new songs to play.
                </h2>

                <h2 class="_h4">
                    Missing a song? <a href="{{ url('chordcharts:new_chart') }}">Add it yourself</a>!
                </h2>

            </div>

            <div class="image">
                <img src="{{ static('images/preview.png') }}" width="440">
            </div>

        </div>

    </article>

{% endblock %}
