{% extends "base.html" %}

{% block css %}

    {{ block.super }}

    <style type="text/css">

        .reset-password-invalid-token {
            margin: 0 auto;
            width: 500px;
        }

    </style>

{% endblock %}

{% block content %}

    <article class="reset-password-invalid-token">

        <header>
            <h1>Reset password</h1>
        </header>

        <p>
            Sorry but this reset password link has expired. Don't you have a newer
            reset password email? If not, try it again.
        </p>

    </article>

{% endblock %}
