{% extends "base.html" %}

{% block css %}

    {{ block.super }}

    <style type="text/css">

        .reset-password-request-success {
            margin: 0 auto;
            width: 500px;
        }

    </style>

{% endblock %}

{% block content %}

    <article class="reset-password-request-success">

        <header>
            <h1>Reset password</h1>
        </header>

        <p>
            An email has been sent to <strong>{{ email }}</strong> with
            instructions on how to reset your password.
        </p>

    </article>

{% endblock %}
