.popup-box {
  position: absolute;
  border: solid 1px #000;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.popup-box .arrow-up {
  position: absolute;
  top: -20px;
  left: 40px;
  width: 37px;
  height: 20px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAUCAYAAAAKuPQLAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QgNBwELK+jIAQAAAltJREFUSMe91b1O6zAYxvG/HSeiSAy0K4iZBYkObHRi5QKY4AqYUO8BiYkVMXAJFK6DgUtA4mOjQmqT2InfMxw5Sk9bmvJxXsmKo0TRT34fO0pEhC+U9x4AEUFEUEpVz5RSU/fLlFnm5QAIc+/9TJTWuoIppaae/yiqvkplWeK9r2D/grTW1QigpjCzDEREKMuSsiwpiqKa11dLa00URVNjmVaapqAwiqLAOYe1FucczjkAnHNEUUQcxxhjqqsxBhEhiiK01o1gZlGG6piiKMjzHGst1lre3995e3tjOBwyHo9ZX1+n0+mwsbFBkiTVqFcTmGkKCpAsy8iyjJeXF+7v78nzHK01aZoC0Gq12N3dZW9vj5WVlYnN0BRmFu20kB/nXAUSEa6vrynLkqOjI7a2tlhdXeX19ZWHhwdub28ZjUbs7+9PbYQmMPNZhuqYNE3JsgzvPaenp7Tbbc7OztjZ2SFJEkSEzc1Nut0urVaLu7s7vPf0ej3mHYXzYGZRy/I8J01TxuMxT09P3Nzc0G636ff7dLvdiV2VJAlxHHNycoJSisFggIjQ6/Xm5mcWzHzWsnqGAC4uLnh+fubx8RFjZndeKUUcxxwfHwMwGAwAloKZRS1L07Rq2SJQvb4Dm0D9FOirsPBtE36s4UCclaFOp8P5+flSoK/AwmqZoigA5oK891Oh/i1Ylak8zyvUsqH+aVg4OsxoNKpQ383Qd2HW2r+oj4+PiTPqt0BNYCHfZjgcArC2tvbroEWwECUAAeTg4EC2t7fFOSf/q6y1cnV1JYeHh3J5eSnB8ge0QKaD6sTJTgAAAABJRU5ErkJggg==");
}
.popup-box .close {
  float: right;
  cursor: pointer;
}
.popup-box .padding {
  padding: 0 10px;
}
.box-choice-list {
  list-style: none;
  padding: 0;
}
.box-choice-list li {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: solid 1px #000;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin: 0 10px 10px 0;
  color: #777;
  background: #EEE;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}
.box-choice-list li.selected {
  background: #FFF;
  color: #000;
}
.key-select-widget .tonic {
  float: left;
}
.key-select-widget .tonic .currently-selected {
  background: #FFF;
  border: solid 1px #999;
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.key-select-widget .tonic .tonic-input {
  display: none;
}
.key-select-widget .tonic:hover .currently-selected {
  background-color: #F7F7F7;
  border-color: #666;
}
.key-select-widget .tonic-choices {
  display: none;
  position: absolute;
  margin: 7px 0 0 -41px;
  z-index: 10;
}
.key-select-widget .tonic-choices ul {
  padding: 10px;
}
.key-select-widget .tonic-choices ul li:nth-child(4n) {
  margin: 0;
}
.key-select-widget .tonic-choices ul li:nth-child(4n+1) {
  clear: both;
}
.key-select-widget .tonality {
  float: left;
  background: #FFF;
  border: solid 1px #999;
  border-left: none;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.key-select-widget .tonality:hover {
  background-color: #F7F7F7;
  border-color: #666;
}
.chord-chart {
  margin: 0 auto 200px;
  width: 849px;
  user-select: none;
}
.chord-chart .chord-chart-header {
  margin: 30px auto 20px 40px;
}
.chord-chart .chord-chart-header .song-name {
  position: relative;
}
.chord-chart .chord-chart-header .song-name h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
}
.chord-chart .chord-chart-header .header-bar {
  margin-top: 15px;
  height: 25px;
  border-bottom: solid 1px #000;
}
.chord-chart .chord-chart-header .header-bar .key-select {
  position: relative;
}
.chord-chart .chord-chart-header .header-bar .key-select .current-key {
  cursor: pointer;
}
.chord-chart .chord-chart-header .header-bar .key-select .current-key .text {
  float: left;
  margin-right: 7px;
}
.chord-chart .chord-chart-header .header-bar .key-select .closed,
.chord-chart .chord-chart-header .header-bar .key-select .open {
  position: absolute;
  top: 0;
}
.chord-chart .chord-chart-header .header-bar .key-select .open {
  display: none;
  top: -11px;
  left: -11px;
  padding: 10px;
  border: solid 1px #000;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.chord-chart .chord-chart-header .header-bar .key-select .open .current-key {
  margin-bottom: 10px;
}
.chord-chart .chord-chart-header .header-bar .key-select .open ul {
  margin-top: 10px;
  padding: 0;
}
.chord-chart .chord-chart-header .header-bar .key-select .open ul li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}
.chord-chart .chord-chart-header .header-bar .key-select .open ul li:nth-child(4n) {
  margin: 0;
}
.chord-chart .chord-chart-header .header-bar .key-select .open ul li:nth-child(4n+1) {
  clear: both;
}
.chord-chart .chord-chart-header .header-bar .chart-edit-buttons {
  float: right;
}
.chord-chart .chord-chart-header .header-bar .chart-edit-buttons .button {
  float: left;
  padding-right: 20px;
}
.chord-chart .chord-chart-header .header-bar .chart-edit-buttons .button:last-child {
  padding-right: 0;
}
.chord-chart .chord-chart-header .header-bar .chart-edit-buttons .button .text {
  float: left;
  padding-right: 6px;
}
.chord-chart .chord-chart-header .header-bar .chart-edit-buttons .button a {
  text-decoration: none;
  color: #000;
}
.chord-chart .chord-chart-header .header-bar .chart-edit-buttons .button.settings {
  position: relative;
}
.chord-chart .chord-chart-header .header-bar .chart-edit-buttons .button.settings .label {
  cursor: pointer;
}
.chord-chart .chord-chart-header .header-bar .chart-edit-buttons .button.settings .widget {
  position: absolute;
  display: none;
  left: -50px;
  top: 40px;
  padding: 10px;
  width: 120px;
}
.chord-chart .chord-chart-header .header-bar .chart-edit-buttons .button.settings .widget .arrow-up {
  left: 65px;
}
.chord-chart .chord-chart-header .header-bar .chart-edit-buttons .button.settings .widget .delete {
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
}
.chord-chart .chord-chart-header .header-bar .chart-edit-buttons .button.settings .widget .delete:hover {
  background: #EEE;
  border-radius: 3px;
}
.chord-chart .chord-chart-header .header-bar .chart-edit-buttons .button.settings .widget .delete form {
  display: none;
}
.chord-chart .chart {
  overflow: hidden;
  letter-spacing: 1px;
}
.chord-chart .chart .section {
  margin: 0 auto 15px;
  overflow: hidden;
}
.chord-chart .chart .section .section-header {
  overflow: hidden;
  margin: 20px 0 10px 40px;
}
.chord-chart .chart .section .section-header .name {
  float: left;
  font-size: 20px;
}
.chord-chart .chart .section:first-child .section-header {
  margin-top: 0;
}
.chord-chart .chart .section .section-sidebar {
  position: relative;
  float: left;
  width: 40px;
}
.chord-chart .chart .section .section-sidebar .section-sidebar-part .letter {
  position: absolute;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: #FFF;
}
.chord-chart .chart .section .section-sidebar .section-sidebar-part canvas {
  position: absolute;
  width: 40px;
}
.chord-chart .chart .section .lines .line .measure {
  height: 100px;
  width: 100px;
  border: solid 1px #000000;
  position: relative;
  margin: 0;
  padding: 0;
}
.chord-chart .chart .section .lines .line .measure .chords {
  position: relative;
  height: 100px;
  width: 100px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-4 .chord {
  line-height: 100px;
  text-align: center;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-4 .chord .chord-name.font-size-normal {
  font-size: 27px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-4 .chord .chord-name.font-size-small {
  font-size: 23px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-4 .chord .chord-name.font-size-tiny {
  font-size: 18px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-2 .chord {
  position: absolute;
  line-height: 60px;
  width: 60px;
  text-align: center;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-2 .chord.chord-2 {
  bottom: 0;
  right: 0;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-2 .chord .chord-name.font-size-normal {
  font-size: 20px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-2 .chord .chord-name.font-size-small {
  font-size: 17px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-2 .chord .chord-name.font-size-tiny {
  font-size: 13px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord {
  position: absolute;
  text-align: center;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord.chord-1 {
  line-height: 60px;
  width: 60px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord.chord-1 .chord-name.font-size-normal {
  font-size: 20px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord.chord-1 .chord-name.font-size-small {
  font-size: 17px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord.chord-1 .chord-name.font-size-tiny {
  font-size: 13px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord.chord-2 {
  line-height: 35px;
  width: 100px;
  bottom: 0;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord.chord-3 {
  line-height: 100px;
  width: 40px;
  right: 0;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord.chord-2 .chord-name.font-size-normal,
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord.chord-3 .chord-name.font-size-normal {
  font-size: 15px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord.chord-2 .chord-name.font-size-small,
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord.chord-3 .chord-name.font-size-small {
  font-size: 13px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord.chord-2 .chord-name.font-size-tiny,
.chord-chart .chart .section .lines .line .measure.measure-beatschema-2-1-1 .chord.chord-3 .chord-name.font-size-tiny {
  font-size: 10px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord {
  position: absolute;
  text-align: center;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord.chord-1 {
  line-height: 100px;
  width: 40px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord.chord-2 {
  line-height: 35px;
  width: 100px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord.chord-1 .chord-name.font-size-normal,
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord.chord-2 .chord-name.font-size-normal {
  font-size: 15px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord.chord-1 .chord-name.font-size-small,
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord.chord-2 .chord-name.font-size-small {
  font-size: 13px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord.chord-1 .chord-name.font-size-tiny,
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord.chord-2 .chord-name.font-size-tiny {
  font-size: 10px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord.chord-3 {
  line-height: 60px;
  width: 60px;
  bottom: 0;
  right: 0;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord.chord-3 .chord-name.font-size-normal {
  font-size: 20px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord.chord-3 .chord-name.font-size-small {
  font-size: 17px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-2 .chord.chord-3 .chord-name.font-size-tiny {
  font-size: 13px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-1-1 .chord {
  position: absolute;
  text-align: center;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-1-1 .chord.chord-1 {
  line-height: 100px;
  width: 40px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-1-1 .chord.chord-2 {
  line-height: 35px;
  width: 100px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-1-1 .chord.chord-3 {
  line-height: 35px;
  width: 100px;
  bottom: 0;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-1-1 .chord.chord-4 {
  line-height: 100px;
  width: 40px;
  right: 0;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-1-1 .chord .chord-name.font-size-normal {
  font-size: 15px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-1-1 .chord .chord-name.font-size-small {
  font-size: 13px;
}
.chord-chart .chart .section .lines .line .measure.measure-beatschema-1-1-1-1 .chord .chord-name.font-size-tiny {
  font-size: 10px;
}
.chord-chart .chart .section .lines .line .repeating-measure {
  height: 100px;
  width: 100px;
  border: solid 1px #000000;
  padding: 0;
  position: relative;
}
.chord-chart .chart .section .lines .line .repeating-measure .repeat-range-heading {
  position: absolute;
  top: 30px;
  text-align: center;
}
.chord-chart .chart .section .lines .line .repeating-measure .repeat-range-heading span {
  background: #FFF;
}
.chord-chart .chart .section .lines .line .repeating-measure .repeat-range-heading.repeat-range-length-4 {
  width: 404px;
}
.chord-chart .chart .section .lines .line .repeating-measure .repeat-range-heading.repeat-range-length-5 {
  width: 505px;
}
.chord-chart .chart .section .lines .line .repeating-measure .repeat-range-heading.repeat-range-length-6 {
  width: 606px;
}
.chord-chart .chart .section .lines .line .repeating-measure .repeat-range-heading.repeat-range-length-7 {
  width: 707px;
}
.chord-chart .chart .section .lines .line .repeating-measure .repeat-range-heading.repeat-range-length-8 {
  width: 808px;
}
.chord-chart .chart .section .lines .line .repeating-measure .range-line-container {
  margin-top: 30px;
  height: 17px;
  overflow: hidden;
}
.chord-chart .chart .section .lines .line .repeating-measure .range-line-container .range-line {
  margin-top: 6px;
  height: 5px;
  width: 100%;
  background: #000;
}
.chord-chart .chart .section .lines .line .repeating-measure.first .range-line-container {
  border-left: solid 4px #000;
  float: right;
  width: 60%;
}
.chord-chart .chart .section .lines .line .repeating-measure.last .range-line-container {
  border-right: solid 4px #000;
  float: left;
  width: 60%;
}
.chord-chart .chart .section .lines .line .repeating-measure.span-prev-line .range-line-container {
  float: right;
  width: 90%;
}
.chord-chart .chart .section .lines .line .repeating-measure.span-next-line .range-line-container {
  float: left;
  width: 90%;
}
.chord-chart .chart .section .lines .line .colspan {
  border: none;
}
.chord-chart .chart .section-new {
  margin: 20px 0 0 40px;
  float: left;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border: solid 1px #000;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.chord-chart .tab-header {
  overflow: hidden;
  border: solid #000;
  border-width: 0 0 1px 0;
  box-shadow: 0 5px 5px #EEE;
  margin: 0 0 5px 0;
}
.chord-chart .tab-header nav ul {
  float: left;
  list-style: none;
  overflow: hidden;
}
.chord-chart .tab-header nav ul li {
  float: left;
  margin-right: 4px;
  border: solid #000;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
  padding: 4px;
  margin-top: 4px;
  background: #EEE;
  color: #777;
  cursor: pointer;
}
.chord-chart .tab-header nav ul li:last-child {
  margin-right: 0;
}
.chord-chart .tab-header nav ul li.active {
  background: #FFF;
  color: #000;
  margin-top: 0;
  padding-bottom: 6px;
  padding-top: 6px;
}
.chord-chart .popup-box {
  z-index: 10;
  padding: 10px 0;
}
.chord-chart .chord-edit {
  display: none;
}
.chord-chart .chord-edit .padding {
  padding: 0 10px;
}
.chord-chart .chord-edit .chord-edit-header {
  overflow: hidden;
  border: solid #000;
  border-width: 0 0 1px 0;
  box-shadow: 0 5px 5px #EEE;
  margin: 0 0 5px 0;
}
.chord-chart .chord-edit .chord-edit-header nav ul {
  float: left;
  list-style: none;
  overflow: hidden;
}
.chord-chart .chord-edit .chord-edit-header nav ul li {
  float: left;
  margin-right: 4px;
  border: solid #000;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
  padding: 4px;
  margin-top: 4px;
  background: #EEE;
  color: #777;
  cursor: pointer;
}
.chord-chart .chord-edit .chord-edit-header nav ul li:last-child {
  margin-right: 0;
}
.chord-chart .chord-edit .chord-edit-header nav ul li.active {
  background: #FFF;
  color: #000;
  margin-top: 0;
  padding-bottom: 6px;
  padding-top: 6px;
}
.chord-chart .chord-edit .chord-edit-header .close {
  margin-right: 10px;
}
.chord-chart .chord-edit .chord-settings ul {
  padding: 0;
  margin-top: 10px;
  overflow: hidden;
}
.chord-chart .chord-edit .chord-settings ul li:nth-child(4n) {
  margin-right: 0;
}
.chord-chart .chord-edit .chord-settings ul li:nth-child(4n+1) {
  clear: both;
}
.chord-chart .chord-edit .chord-settings ul li:nth-last-child(1),
.chord-chart .chord-edit .chord-settings ul li:nth-last-child(2),
.chord-chart .chord-edit .chord-settings ul li:nth-last-child(3),
.chord-chart .chord-edit .chord-settings ul li:nth-last-child(4) {
  margin-bottom: 0;
}
.chord-chart .chord-edit .chord-settings .setting li.small-font {
  font-size: 13px;
}
.chord-chart .chord-edit .chord-settings .setting.note .rest,
.chord-chart .chord-edit .chord-settings .setting.type .toggle,
.chord-chart .chord-edit .chord-settings .setting.alt-bass-note .none {
  display: block;
  clear: left;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: solid 1px #000;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.chord-chart .chord-edit .chord-settings .setting.note .rest,
.chord-chart .chord-edit .chord-settings .setting.alt-bass-note .none {
  background: #EEE;
}
.chord-chart .chord-edit .chord-settings .setting.note .rest.selected,
.chord-chart .chord-edit .chord-settings .setting.alt-bass-note .none.selected {
  background: #FFF;
}
.chord-chart .chord-edit .chord-settings .type,
.chord-chart .chord-edit .chord-settings .type-2,
.chord-chart .chord-edit .chord-settings .bass {
  display: none;
}
.chord-chart .measure-edit {
  display: none;
}
.chord-chart .measure-edit h3 {
  margin: 0;
  font-weight: normal;
}
.chord-chart .measure-edit .measures {
  padding: 0;
  list-style: none;
}
.chord-chart .measure-edit .measures li {
  float: left;
  margin: 0 10px 10px 0;
}
.chord-chart .measure-edit .measures li .measure {
  width: 50px;
  height: 50px;
  border: solid 1px #000;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  background: #EEE;
  color: #777;
  cursor: pointer;
}
.chord-chart .measure-edit .measures li .measure.selected {
  background: #FFF;
  color: #000;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-4 .chord-1 {
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-2-2 {
  position: relative;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-2-2 .chord-1 {
  position: absolute;
  font-size: 16px;
  line-height: 30px;
  width: 30px;
  text-align: center;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-2-2 .chord-2 {
  position: absolute;
  font-size: 16px;
  top: 24px;
  left: 30px;
  width: 25px;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-2-1-1 {
  position: relative;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-2-1-1 .chord-1 {
  position: absolute;
  font-size: 13px;
  left: 12px;
  top: 7px;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-2-1-1 .chord-2 {
  position: absolute;
  font-size: 13px;
  top: 31px;
  width: 50px;
  text-align: center;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-2-1-1 .chord-3 {
  position: absolute;
  font-size: 13px;
  left: 38px;
  top: 17px;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-1-1-2 {
  position: relative;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-1-1-2 .chord-1 {
  position: absolute;
  font-size: 13px;
  left: 7px;
  top: 16px;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-1-1-2 .chord-2 {
  position: absolute;
  font-size: 13px;
  top: 2px;
  left: 21px;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-1-1-2 .chord-3 {
  font-size: 13px;
  left: 31px;
  position: absolute;
  top: 26px;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-1-1-1-1 {
  position: relative;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-1-1-1-1 .chord-1 {
  position: absolute;
  font-size: 13px;
  left: 7px;
  top: 16px;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-1-1-1-1 .chord-2 {
  position: absolute;
  font-size: 13px;
  top: 2px;
  left: 21px;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-1-1-1-1 .chord-3 {
  position: absolute;
  font-size: 13px;
  top: 31px;
  width: 50px;
  text-align: center;
}
.chord-chart .measure-edit .measures li .measure.measure-beatschema-1-1-1-1 .chord-4 {
  position: absolute;
  font-size: 13px;
  left: 38px;
  top: 17px;
}
.chord-chart .measure-edit .measures li:nth-child(2),
.chord-chart .measure-edit .measures li:nth-child(5) {
  margin-right: 0;
}
.chord-chart .measure-edit .measures li:nth-child(3) {
  clear: both;
}
.chord-chart .measure-edit .measures li:nth-child(3),
.chord-chart .measure-edit .measures li:nth-child(4),
.chord-chart .measure-edit .measures li:nth-child(5) {
  margin-bottom: 0;
}
.chord-chart .measure-edit .remove {
  clear: left;
  overflow: hidden;
  margin-top: 10px;
  border: 1px solid #000000;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  color: #000000;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}
.chord-chart .section-edit {
  display: none;
  padding: 0;
}
.chord-chart .section-edit .close {
  margin: 10px;
}
.chord-chart .section-edit .content {
  margin: 10px 0;
}
.chord-chart .section-edit .content section {
  margin-bottom: 10px;
}
.chord-chart .section-edit .content section h3 {
  margin: 0;
  font-size: 16px;
}
.chord-chart .section-edit .content section.key .key-select-widget {
  margin-top: 10px;
}
.chord-chart .line-edit {
  display: none;
  padding: 10px;
}
.chord-chart .line-edit .arrow-up {
  left: 10px;
}
.chord-chart .line-edit .box-choice-list {
  padding: 0;
}
.chord-chart .line-edit .box-choice-list li:nth-child(2),
.chord-chart .line-edit .box-choice-list li:nth-child(5) {
  margin-right: 0;
}
.chord-chart .line-edit .box-choice-list li:nth-child(3n) {
  clear: left;
}
.chord-chart .line-edit .merge-up,
.chord-chart .line-edit .merge-down {
  display: block;
  margin-bottom: 10px;
}
.chord-chart .line-edit .disable-sidebar {
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  clear: left;
  color: #000000;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
}
.chord-chart .help-widget {
  position: fixed;
  box-sizing: border-box;
  top: 5%;
  left: 50%;
  margin-left: -375px;
  height: 90%;
  width: 750px;
  text-align: center;
}
.chord-chart .help-widget .help-widget-header {
  overflow: hidden;
  border: solid #000;
  border-width: 0 0 1px 0;
  box-shadow: 0 5px 5px #EEE;
  margin: 0 0 5px 0;
  margin-top: 10px;
}
.chord-chart .help-widget .help-widget-header nav ul {
  float: left;
  list-style: none;
  overflow: hidden;
}
.chord-chart .help-widget .help-widget-header nav ul li {
  float: left;
  margin-right: 4px;
  border: solid #000;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
  padding: 4px;
  margin-top: 4px;
  background: #EEE;
  color: #777;
  cursor: pointer;
}
.chord-chart .help-widget .help-widget-header nav ul li:last-child {
  margin-right: 0;
}
.chord-chart .help-widget .help-widget-header nav ul li.active {
  background: #FFF;
  color: #000;
  margin-top: 0;
  padding-bottom: 6px;
  padding-top: 6px;
}
.chord-chart .help-widget .help-widget-header .close {
  margin-right: 10px;
}
.chord-chart .help-widget iframe {
  border: none;
  width: 93%;
  height: 97%;
}
.chord-chart .help-widget iframe.chord-symbols {
  display: none;
}
.chord-chart.edit-on .song-name h1 span {
  cursor: pointer;
}
.chord-chart.edit-on .song-name .song-name-change {
  display: none;
  width: 300px;
  margin: 15px 0 0 -150px;
  left: 50%;
}
.chord-chart.edit-on .song-name .song-name-change .arrow-up {
  left: 132px;
}
.chord-chart.edit-on .song-name .song-name-change label span {
  display: block;
  margin-bottom: 10px;
}
.chord-chart.edit-on .song-name .song-name-change label input {
  width: 100%;
}
.chord-chart.edit-on .chart .section .section-header .name {
  cursor: pointer;
}
.chord-chart.edit-on .chart .section .section-header .section-edit-buttons {
  float: left;
  margin: 5px 0 0 5px;
}
.chord-chart.edit-on .chart .section .section-header .section-edit-buttons .move-down,
.chord-chart.edit-on .chart .section .section-header .section-edit-buttons .move-up,
.chord-chart.edit-on .chart .section .section-header .section-edit-buttons .remove {
  float: left;
  margin-left: 5px;
  cursor: pointer;
}
.chord-chart.edit-on .chart .section .section-sidebar .section-sidebar-part {
  cursor: pointer;
}
.chord-chart.edit-on .chart .section .section-sidebar .section-sidebar-part.inactive .letter {
  color: #CCC;
}
.chord-chart.edit-on .chart .section .lines .line .measure {
  cursor: pointer;
}
.chord-chart.edit-on .chart .section .lines .line .measure-add {
  padding: 0;
}
.chord-chart.edit-on .chart .section .lines .line .measure-add .plus {
  padding: 5px;
  background: #EEE;
  float: left;
  height: 50px;
  line-height: 50px;
  border: solid 1px #000;
  border-width: 1px 1px 1px 0;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
.chord-chart.edit-on .chart .section .line-add td {
  padding: 0;
}
.chord-chart.edit-on .chart .section .line-add td .plus {
  margin-left: 19px;
  line-height: 20px;
  padding: 0 5px;
  background: #EEE;
  float: left;
  width: 50px;
  text-align: center;
  border: solid 1px #000;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 6px 6px;
  cursor: pointer;
}
