.chord-symbols {
  margin: 0 auto 50px;
  width: 650px;
}
.chord-symbols h1 {
  font-size: 30px;
}
.chord-symbols .symbols-list {
  float: left;
  width: 480px;
}
.chord-symbols .symbols-list table {
  border-collapse: collapse;
}
.chord-symbols .symbols-list table tr th,
.chord-symbols .symbols-list table tr td {
  padding: 2px 50px 2px 0;
}
.chord-symbols .symbols-list table tr th:last-child,
.chord-symbols .symbols-list table tr td:last-child {
  padding-right: 0;
}
.chord-symbols .symbols-list table tr th {
  text-align: left;
}
.chord-symbols .how-to-play {
  float: left;
}
.chord-symbols .how-to-play .guitar-fingerboard-chord h1 {
  margin: 0 0 20px 0;
  text-align: center;
}
.chord-symbols .how-to-play .guitar-fingerboard-chord table {
  border-collapse: collapse;
}
.chord-symbols .how-to-play .guitar-fingerboard-chord table tbody td {
  padding: 0;
  border: solid 1px #000;
  width: 30px;
  height: 35px;
}
.chord-symbols .how-to-play .guitar-fingerboard-chord table tbody td div {
  height: 35px;
  position: relative;
}
.chord-symbols .how-to-play .guitar-fingerboard-chord table tbody td div span {
  position: absolute;
  width: 30px;
  top: 1px;
  left: -15px;
  line-height: 35px;
  text-align: center;
  font-size: 26px;
}
.chord-symbols .how-to-play .guitar-fingerboard-chord table tbody td div span.right {
  left: 15px;
}
.chord-symbols .how-to-play .guitar-fingerboard-chord table tbody td div span.root {
  font-size: 30px;
}
.chord-symbols .how-to-play .guitar-fingerboard-chord table tbody td div span.root:after {
  position: absolute;
  content: 'R';
  width: inherit;
  left: 0;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
  color: white;
}
