{% extends "core/about/base.html" %}

{% block about_content %}

    <div class="about">

        <h1 class="_h2">
            {{ settings.WEBSITE_NAME }} is the best place to create, share and explore<br>
            chord charts for any style of music, for any instrument.
        </h1>

        <div class="paragraphs">

            <p class="_h4">
                With the chord chart database and editor of
                {{ settings.WEBSITE_NAME }}, it has never been easier for
                groups and individuals to learn, share and remember songs.
            </p>

            <p class="_h4">
                The goal of {{ settings.WEBSITE_NAME }} is to be an open and
                collaborative platform and a reliable quality resource for
                musicians to easily learn songs.
            </p>

            <div class="_clearfix"></div>

        </div>

    </div>

{% endblock %}
