{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="css/about.css" />
{% endblock %}

{% block content %}

    <article class="about-base">

        <nav>
            <div class="_site-content">

                {% set about_url = url('core:about:about') %}
                {% set team_url = url('core:about:team') %}
                {% set contribute_url = url('core:about:contribute') %}

                <a href="{{ about_url }}"{% if request.get_full_path == about_url %} class="active"{% endif %}>About JazzChords</a>
                <a href="{{ team_url }}"{% if request.get_full_path == team_url %} class="active"{% endif %}>Our Team</a>
                <a href="{{ contribute_url }}"{% if request.get_full_path == contribute_url %} class="active"{% endif %}>Contribute</a>

            </div>
        </nav>

        <div class="content _site-content">
            {% block about_content %}{% endblock %}
        </div>

    </article>

{% endblock %}
