{% extends "core/about/base.html" %}

{% block about_content %}

    <div class="contribute">

        <h1 class="_h2">
            Join our team to make {{ g__settings.WEBSITE_NAME }} even better.
        </h1>

        <p class="_h4">
            The technology behind {{ g__settings.WEBSITE_NAME }} is free
            software, which means everyone is free to read and change the
            source code and improve {{ g__settings.WEBSITE_NAME }}. If you are
            interested in contributing in any way, look on the
            <a href="https://www.github.com/gitaarik/jazzchords/" target="_blank">GitHub page</a>
            or <a href="">contact us</a>.
        </p>

    </div>

{% endblock %}
