{% extends "core/about/base.html" %}

{% block about_content %}

    <div class="team">

        <h1 class="_h2">
            {{ settings.WEBSITE_NAME }} is created and maintained by Rik Wanders,<br>
            with the help from friends and contributors.
        </h1>

        <p class="_h4">
            I'm a guitarist and webdeveloper from Haarlem, the Netherlands, and
            have been playing jazz and related genres for a long time. Along
            the way I created {{ settings.WEBSITE_NAME }} as a platform to
            help musicians remember their songs, learn new songs and
            collaborate better.
        </p>

        <p class="_h4">
            If you are interested in helping create {{ settings.WEBSITE_NAME }},
            you are free to <a href="{{ url('core:about:contribute') }}">contribute in any way</a>.
        </p>

    </div>

{% endblock %}
