@import "_base.less";


._base-content {

    .login .submit,
    .login .forgot-password {
        float: left;
    }

    .login .forgot-password {
        margin-left: 15px;
        line-height: 39px;
    }

}
