{% extends "base.html" %}
{% load compress %}

{% block css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}chordcharts/less/charts.less" />
{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script>

        var settings = {
            box_width: {{ settings.box_width }},
            box_height: {{ settings.box_height }},
            border_width: {{ settings.border_width }},
            section_sidebar_width: {{ settings.section_sidebar_width }},
        }

        settings.sections = []

        {% for section in sections %}
            settings.sections.push({
                height: {{ section.boxed_chart.height }}
            })
        {% endfor %}

    </script>
    <script src="{{ STATIC_URL }}chordcharts/js/boxes-draw.js"></script>
    <script src="{{ STATIC_URL }}chordcharts/js/sections-draw.js"></script>
    <script src="{{ STATIC_URL }}chordcharts/js/key-change.js"></script>

{% endblock %}

{% block content %}

    <article class="chord-chart" style="width: {{ boxed_chart.total_width }}px;">

        <header>

            <h1>{{ song_name }}</h1>

            <div class="key-select" style="margin-left: {{ boxed_chart.section_sidebar_width }}px;">
                <div class="closed">
                    <div class="current-key">Key of {{ chart_key }}</div>
                </div>
                <div class="open">
                    <div class="current-key">Key of {{ chart_key }}</div>
                    <hr>
                    <div>Transpose to:</div>
                    <ul>
                        {% for key in all_keys %}
                            <li><a href="{% url "chart" song_slug=song_slug key_slug=key.slug %}">{{ key.tone }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </header>

        <div class="boxed-chart">

            {% for section in sections %}

                <div class="section" style="width: {{ boxed_chart.total_width }}px;">

                    <div class="section-sidebar" style="height: {{ section.boxed_chart.height }}px;">
                        <div class="section-sidebar-title" style="line-height: {{ section.boxed_chart.height }}px;">
                            {{ section.name }}
                        </div>
                    </div>

                    <div class="chord-boxes">

                        <div class="line line-first">

                            {% for box in section.boxed_chart.boxes %}

                                {% if box.starts_on_new_line %}
                                    </div>
                                    <div class="line">
                                {% endif %}

                                <div class="
                                    box
                                    box-beatschema-{{ box.beat_schema }}
                                    {% if forloop.first or box.starts_on_new_line %}
                                        box-first
                                    {% endif %}
                                ">

                                    {% if box.beat_schema == "4" %}
                                        {{ box.parts.0.chord }}
                                    {% endif %}

                                    {% if box.beat_schema == "2-2" %}
                                        <div class="chord-first">{{ box.parts.0.chord }}</div>
                                        <div class="chord-second">{{ box.parts.1.chord }}</div>
                                    {% endif %}

                                    {% if box.beat_schema == "2-1-1" %}
                                        <div class="chord-first">{{ box.parts.0.chord }}</div>
                                        <div class="chord-second">{{ box.parts.1.chord }}</div>
                                        <div class="chord-third">{{ box.parts.2.chord }}</div>
                                    {% endif %}

                                </div>

                            {% endfor %}

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

    </article>

{% endblock %}
