{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/users/create_account.css" />
{% endblock %}

{% block javascript %}
    <script src="{{ STATIC_URL }}js/accounts/create.js"></script>
{% endblock %}

{% block content %}

    <article class="create-account">

        <header>
            <h1>Create Account</h1>
        </header>

        <form method="POST">

            {% csrf_token %}

            <table class="formtable">

                {% for error in errors.username %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="username">Username:</label></th>
                    <td>
                        <div class="tooltip-popup popup-box">
                            <div class="arrow-up"></div>
                            <h4>Username</h4>
                            <p>
                                Your username will be your public identity on the website. For example,
                                when you create a chart, your username will be displayed with it.
                            </p>
                        </div>
                        <input name="username" id="username" type="text" value="{{ account.username }}" maxlength="{{ maxlength.username }}">
                    </td>
                    <td>
                        <div class="tooltip-button"><span>?</span></div>
                    </td>
                </tr>

                {% for error in errors.password %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="password">Password:</label></th>
                    <td>
                        <div class="tooltip-popup popup-box">
                            <div class="arrow-up"></div>
                            <h4>Password</h4>
                            <p>
                                Please choose a good password that won't be easy to guess.
                            </p>
                        </div>
                        <input name="password" id="password" type="password" maxlength="{{ maxlength.password }}">
                    </td>
                    <td>
                        <div class="tooltip-button"><span>?</span></div>
                    </td>
                </tr>

                {% for error in errors.email %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="email">Email:</label></th>
                    <td>
                        <div class="tooltip-popup popup-box">
                            <div class="arrow-up"></div>
                            <h4>Email</h4>
                            <p>
                                Your email address will be used to retrieve your password in case you
                                lost it.
                            </p>
                        </div>
                        <input name="email" id="email" type="email" value="{{ account.email }}" maxlength="{{ maxlength.email }}">
                    </td>
                    <td>
                        <div class="tooltip-button"><span>?</span></div>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Create Account"></td>
                    <td></td>
                </tr>

            </table>

        </form>

    </article>

{% endblock %}
