{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="css/users/account_created.css" />
{% endblock %}

{% block content %}

    <article class="account-created">

        <h1>Validate your email address</h1>

        <p>
            Thanks for joining {{ settings.WEBSITE_NAME }}! Please
            validate your email address by following the instructions
            in the email we've just send to <strong>{{ email }}</strong>.
            After this you can log in and use your account.
        </p>

    </article>

{% endblock %}
