{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/users/create_account.css" />
{% endblock %}

{% block content %}

    <article class="create-account">

        <header>
            <h1>Create Account</h1>
        </header>

        <form method="POST">

            {% csrf_token %}

            <table class="formtable">

                {% for error in errors.username %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="username">Username:</label></th>
                    <td><input name="username" id="username" type="text" value="{{ user.username }}" maxlength="{{ maxlength.username }}"></td>
                    <td></td>
                </tr>

                {% for error in errors.password %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="password">Password:</label></th>
                    <td><input name="password" id="password" type="password" maxlength="{{ maxlength.password }}"></td>
                    <td></td>
                </tr>

                {% for error in errors.email %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="email">Email:</label></th>
                    <td><input name="email" id="email" type="email" value="{{ user.email }}" maxlength="{{ maxlength.email }}"></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="create"></td>
                    <td></td>
                </tr>

            </table>

        </form>

    </article>

{% endblock %}
