{% extends "users/base.html" %}

{% block javascript %}
    {{ super() }}
    <script>
        $('#username-email').focusAtEnd();
    </script>
{% endblock %}

{% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="css/users/login.css" />
{% endblock %}

{% block users_content %}

    <article class="login">

        <header>
            <h1>Log in</h1>
        </header>

        <form method="POST">

            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            <table class="_form-table">

                {% if errors %}

                    {% for error in errors.username_email %}
                        <tr class="error">
                            <td></td>
                            <td>{{ error|safe }}</td>
                        </tr>
                    {% endfor %}

                {% endif %}

                <tr>
                    <th><label for="username-email">Username / email:</label></th>
                    <td>
                        <input name="username_email" id="username-email" type="text" value="{% if data %}{{ data.username_email }}{% endif %}" maxlength="{{ fields.username_email.max_length }}" required>
                    </td>
                </tr>

                {% if errors %}

                    {% for error in errors.password %}
                        <tr class="error">
                            <td></td>
                            <td>{{ error|safe }}</td>
                        </tr>
                    {% endfor %}

                {% endif %}

                <tr>
                    <th><label for="password">Password:</label></th>
                    <td>
                        <input name="password" id="password" type="password" maxlength="{{ fields.password.max_length }}" required>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <div class="submit"><input type="submit" value="Log in"></div>
                        <div class="forgot-password">
                            <a href="{{ url('users:reset_password:request') }}">Forgot password</a>
                        </div>
                    </td>
                </tr>

                <tr class="signup">
                    <td></td>
                    <td>Don't have an account yet? <a href="{{ url('users:signup:signup') }}">Sign up</a>.</td>
                </tr>

            </table>

        </form>

    </article>

{% endblock %}
