{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/users/register.css" />
{% endblock %}

{% block content %}

    <article class="register">

        <header>
            <h1>Registation</h1>
        </header>

        <form method="POST">

            {% csrf_token %}

            <table class="formtable">

                {% for error in errors.username %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th>Username:</th>
                    <td><input name="username" type="text" value="{{ user.username }}"></td>
                    <td></td>
                </tr>

                {% for error in errors.password %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th>Password:</th>
                    <td><input name="password" type="password"></td>
                    <td></td>
                </tr>

                {% for error in errors.email %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th>Email:</th>
                    <td><input name="email" type="email" value="{{ user.email }}"></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Register"></td>
                    <td></td>
                </tr>

            </table>

        </form>

    </article>

{% endblock %}
