{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/users/reset_password.css" />
{% endblock %}

{% block content %}

    <article class="reset-password">

        <header>
            <h1>Reset password</h1>
        </header>

        <p>
            Please fill in your email address. We'll send you an email
            which you can use to reset your password.
        </p>

        <form method="POST">

            {% csrf_token %}

            <table class="formtable">

                {% for error in errors %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="email">Email:</label></th>
                    <td><input id="email" name="email" type="email" value="{{ email }}" maxlength=""></Td>
                    <td><input type="submit" value="Reset password"></td>
                </tr>

            </table>

        </form>

    </article>

{% endblock %}
