{% extends "base.html" %}

{% block css %}

    {{ block.super }}

    <style type="text/css">

        .reset-password-confirm {
            margin: 0 auto;
            width: 500px;
        }

    </style>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script>
        $(function() {
            $('#new_password1').focus();
        });
    </script>

{% endblock %}

{% block content %}

    <article class="reset-password-confirm">

        <header>
            <h1>Reset password</h1>
        </header>

        <form method="POST">

            {% csrf_token %}

            <table class="formtable">

                {% for error in errors_all %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                    </tr>
                {% endfor %}

                {% for error in errors.new_password1 %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="new_password1">New password:</label></th>
                    <td><input id="new_password1" name="new_password1" type="password" maxlength="{{ fields.new_password1.max_length }}"></td>
                </tr>

                {% for error in errors.new_password2 %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="new_password2">Repeat new password:</label></th>
                    <td><input id="new_password2" name="new_password2" type="password" maxlength="{{ fields.new_password2.max_length }}"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Reset password"></td>
                </tr>

            </table>

        </form>

    </article>

{% endblock %}
