{% extends "base.html" %}

{% block css %}

    {{ block.super }}

    <style type="text/css">

        .reset-password-request {
            margin: 0 auto;
            width: 500px;
        }

    </style>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script>
        $(function() {
            $('#email').focus();
        });
    </script>

{% endblock %}

{% block content %}

    <article class="reset-password-request">

        <header>
            <h1>Reset password</h1>
        </header>

        <p>
            Please fill in your email address. We'll send you an email
            which you can use to reset your password.
        </p>

        <form method="POST">

            {% csrf_token %}

            <table class="formtable">

                {% for error in errors.email %}
                    <tr class="error">
                        <td colspan="3">{{ error|safe }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="email">Email:</label></th>
                    <td><input id="email" name="email" type="email" value="{{ data.email }}" maxlength="{{ fields.email.max_length }}"></Td>
                    <td><input type="submit" value="Reset password"></td>
                </tr>

            </table>

        </form>

    </article>

{% endblock %}
