@import "settings";
@import "../../includes/images";

.chord-chart {

    margin: 0 auto;
    width: @chart_width;

    header {

        margin: 30px auto 20px @section_sidebar_width;

        h1 {
            font-size: 30px;
            text-align: center;
            margin: 0;
        }

        .header-bar {

            height: 25px;
            border-bottom: solid 1px #000;

            .key-select {

                position: relative;

                .current-key {
                    cursor: pointer;
                    &:after {
                        display: inline-block;
                        position: absolute;
                        content: '\25BF';
                        font-size: 20px;
                        padding: 0 6px;
                        top: -6px;
                    }
                }

                .closed, .open {
                    position: absolute;
                    top: 0;
                }

                .open {

                    display: none;
                    top: -11px; // padding + border
                    left: -11px; // padding + border
                    padding: 10px;
                    border: solid 1px #000;
                    background: #FFF;
                    border-radius: 5px;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
                    z-index: 10;
                    width: 146px;

                    .current-key {
                        margin-bottom: 10px;
                        &:after {
                            transform: rotate(180deg);
                            top: 9px;
                        }
                    }

                    ul {

                        margin-top: 10px;
                        list-style: none;
                        padding: 0;

                        li {

                            float: left;

                            a {
                                display: block;
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                                text-align: center;
                                border: solid 1px #000;
                                border-radius: 5px;
                                box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
                                margin: 0 10px 10px 0;
                                color: #000;
                                text-decoration: none;
                            }

                            &:nth-child(3n) a {
                                margin: 0;
                            }

                            &:nth-child(3n+1) a {
                                clear: both;
                            }

                        }

                    }

                }

            }

            .right {

                float: right;

                a {

                    position: relative;
                    text-decoration: none;
                    color: #000;
                    padding-right: 20px;

                    &:after {
                        position: absolute;
                        right: 0;
                    }

                    &.edit:after {
                        content: url(@edit-icon);
                    }

                    &.save:after {
                        content: url(@save-icon);
                    }

                }

            }

        }

    }

    .chart {

        overflow: hidden;
        letter-spacing: 1px;

        .section {

            margin: 0 auto 15px;
            overflow: hidden;

            header {
                margin: 20px 0 10px @section_sidebar_width;
                font-size: 20px;
                &:first-child {
                    margin-top: 0;
                }
            }

            .section-sidebar {
                position: relative;
                float: left;
                width: @section_sidebar_width;
            }

            .section-sidebar-title {
                position: absolute;
                width: @section_sidebar_width;
                text-align: center;
                font-size: 20px;
                background: #FFF;
            }

            .lines {
                float: left;
            }

            .line {
                clear: both;
            }

            .measure {

                float: left;
                height: @measure_height;
                width: @measure_width;
                border: solid @border_width #000;
                border-width: 0 @border_width @border_width 0;
                position: relative;

                &.measure-beatschema-4 {

                    .chord {
                        line-height: @measure_height;
                        text-align: center;
                        .chord-name {
                            font-size: 27px;
                        }
                    }

                }

                &.edit-on,
                &.edit-on .chord .chord-name {
                    cursor: pointer;
                }

            }

            .line-first .measure {
                border-top-width: @border_width;
            }

            .measure-first {
                border-left-width: @border_width;
            }

            .measure-beatschema-2-2 {

                position: relative;

                .chord-first {
                    position: absolute;
                    font-size: 20px;
                    line-height: round(@measure_height * 0.6);
                    width: round(@measure_width * 0.6);
                    text-align: center;
                }

                .chord-second {
                    position: absolute;
                    font-size: 20px;
                    line-height: round(@measure_height * 0.6);
                    top: round(@measure_height * 0.4);
                    left: round(@measure_width * 0.4);
                    width: round(@measure_width * 0.6);
                    text-align: center;
                }

            }

            .measure-beatschema-2-1-1 {

                position: relative;

                .chord-first {
                    position: absolute;
                    font-size: 20px;
                    line-height: round(@measure_height * 0.6);
                    width: round(@measure_width * 0.6);
                    text-align: center;
                }

                .chord-second {
                    position: absolute;
                    font-size: 15px;
                    line-height: round(@measure_height * 0.35);
                    width: @measure_width;
                    top: round(@measure_height * 0.65);
                    text-align: center;
                }

                .chord-third {
                    position: absolute;
                    font-size: 15px;
                    line-height: @measure_height;
                    width: round(@measure_width * 0.40);
                    left: round(@measure_width * 0.60);
                    text-align: center;
                }

            }

        }

    }

    .chord-edit {

        display: none;
        position: absolute;
        z-index: 10;
        border: solid 1px #000;
        background: #FFF;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
        z-index: 10;
        width: 166px;
        padding: 10px 0;

        .padding {
            padding: 0 10px;
        }

        header {

            margin: 0;

            .chord-name {
                cursor: pointer;
            }

            .controls {

                float: right;

                .apply, .discard {
                    float: left;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                }

                .apply {
                    background: url(@done-icon);
                    margin-right: 10px;
                }

                .discard {
                    background: url(@discard-icon);
                }

            }

        }

        nav ul {

            list-style: none;
            overflow: hidden;
            margin: 10px 0;
            border: solid #000;
            border-width: 0 0 1px 0;
            box-shadow: 0 5px 5px #EEE;

            li {

                float: left;
                margin-right: 4px;
                border: solid 1px #000;
                border-width: 1px 1px 0 1px;
                border-radius: 5px 5px 0 0;
                padding: 4px;
                margin-top: 4px;
                background: #EEE;
                color: #777;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    background: #FFF;
                    color: #000;
                    margin-top: 0;
                    padding-bottom: 6px;
                    padding-top: 6px;
                }

            }

        }

        .chord-settings {

            ul {

                padding: 0;
                margin-top: 10px;
                list-style: none;

                li {

                    float: left;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border: solid 1px #000;
                    border-radius: 5px;
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
                    margin: 0 10px 10px 0;
                    color: #777;
                    background: #eee;
                    text-decoration: none;
                    cursor: pointer;

                    &:nth-child(3n) {
                        margin: 0;
                    }

                    &:nth-child(3n+1) {
                        clear: both;
                    }

                    &.selected {
                        background: #FFF;
                        color: #000;
                    }

                }

            }

            .setting {

                li.small-font {
                    font-size: 13px;
                }

                &.type .toggle,
                &.alt-bass-note .none {
                    display: block;
                    clear: left;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border: solid 1px #000;
                    border-radius: 5px;
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }

                &.alt-bass-note .none {
                    background: #EEE;
                    &.selected {
                        background: #FFF;
                    }
                }

            }

            .type, .type-2, .bass {
                display: none;
            }

        }

    }

    .measure-edit {

        display: none;
        position: absolute;
        z-index: 10;
        border: solid 1px #000;
        background: #FFF;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
        z-index: 10;

        .popup-arrow-up {
            position: absolute;
            top: -20px;
            left: 40px;
            width: 37px;
            height: 20px;
            background: url(@popup-arrow-up);
        }

        .padding {
            padding: 10px;
        }

        h3 {
            margin: 0;
            font-weight: normal;
        }

        .measures {

            margin: 10px 0 0;
            padding: 0;
            list-style: none;

            li {

                float: left;
                margin: 0 10px 10px 0;

                .measure {

                    width: 50px;
                    height: 50px;
                    border: solid 1px #000;
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
                    background: #EEE;
                    color: #777;
                    cursor: pointer;

                    &.selected {
                        background: #FFF;
                        color: #000;
                    }

                    &.measure-beatschema-4 {

                        .chord-1 {
                            font-size: 20px;
                            line-height: 50px;
                            text-align: center;
                        }

                    }

                    &.measure-beatschema-2-2 {

                        position: relative;

                        .chord-1 {
                            position: absolute;
                            font-size: 16px;
                            line-height: 30px;
                            width: 30px;
                            text-align: center;
                        }

                        .chord-2 {
                            position: absolute;
                            font-size: 16px;
                            top: 24px;
                            left: 30px;
                            width: 25px;
                        }

                    }

                    &.measure-beatschema-2-1-1 {

                        position: relative;

                        .chord-1 {
                            position: absolute;
                            font-size: 13px;
                            left: 12px;
                            top: 7px;
                        }

                        .chord-2 {
                            position: absolute;
                            font-size: 13px;
                            top: 31px;
                            width: 50px;
                            text-align: center;
                        }

                        .chord-3 {
                            position: absolute;
                            font-size: 13px;
                            left: 38px;
                            top: 17px;
                        }

                    }

                    &.measure-beatschema-1-1-2 {

                        position: relative;

                        .chord-1 {
                            position: absolute;
                            font-size: 13px;
                            left: 7px;
                            top: 16px;
                        }

                        .chord-2 {
                            position: absolute;
                            font-size: 13px;
                            top: 2px;
                            left: 21px;
                        }

                        .chord-3 {
                            font-size: 13px;
                            left: 31px;
                            position: absolute;
                            top: 26px;
                        }

                    }

                    &.measure-beatschema-1-1-1-1 {

                        position: relative;

                        .chord-1 {
                            position: absolute;
                            font-size: 13px;
                            left: 7px;
                            top: 16px;
                        }

                        .chord-2 {
                            position: absolute;
                            font-size: 13px;
                            top: 2px;
                            left: 21px;
                        }

                        .chord-3 {
                            position: absolute;
                            font-size: 13px;
                            top: 31px;
                            width: 50px;
                            text-align: center;
                        }

                        .chord-4 {
                            position: absolute;
                            font-size: 13px;
                            left: 38px;
                            top: 17px;
                        }


                    }

                }

                &:nth-child(3n) {
                    margin: 0;
                }

                &:nth-child(3n+1) {
                    clear: both;
                }

            }

        }

    }

}
