@measure_width: 100px;
@measure_height: 100px;
@border_width: 1px;

.how-to-read {

    margin: 0 auto;
    width: 600px;

    .measure-beats-number {

        @import "../../widgets/measure.less";

        .measure {
            float: left;
            margin-right: 20px;
        }

    }

}
