@import "settings";

.new {

    margin: 0 auto 200px;
    width: @chart_width;

    header {

        margin: 30px 0;

        h1 {
            font-size: 30px;
            text-align: center;
            margin: 0;
        }

    }

    .chart-settings {

        margin: 0 auto;
        width: 500px;

        label {

            display: block;
            margin-bottom: 20px;
            overflow: hidden;

            span {
                margin-bottom: 15px;
                display: block;
                font-size: 20px;
            }

            input {
                width: 100%;
                border: solid 1px #000;
                border-radius: 5px;
                font-size: 20px;
                padding: 12px;
                box-sizing: border-box;
            }

        }

    }

}
