<div class="key-select-widget">

    <div class="tone no-select">

        <div class="currently-selected">C</div>
        <input type="hidden" class="tone-input" name="key_tone" value="C">

        <div class="tone-choices popup-box">

            <div class="arrow-up"></div>

            <ul class="box-choice-list">
                {% for key, value in key_select_tones %}
                    <li data-tone="{{ key }}"{% if forloop.first %} class="selected"{% endif %}>
                        {{ value }}
                    </li>
                {% endfor %}
            </ul>

        </div>

    </div>

    <div class="tonality no-select">
        <span>Major</span>
        <input type="hidden" class="tonality-input" name="key_tonality" value="Major">
    </div>

</div>
