{% extends "users/signup/base.html" %}

{% block users_content %}

    <article>

        {% if success %}
            <header>
                <h1>Email address validated</h2>
            </header>
            <p>
                Welcome to {{ core__settings.WEBSITE_NAME_DOMAIN }}! Your email
                address has been validated and you can start making
                charts!
            </p>
        {% else %}
            <header>
                <h1>Validation failed</h1>
            </header>
            <p>
                Sorry but this validation link is expired. Don't you
                have a newer validation email? If not, try to sign up
                again.
            </p>
        {% endif %}

    </article>

{% endblock %}
