{% extends "users/signup/base.html" %}

{% block javascript %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/users/signup.js"></script>
{% endblock %}

{% block users_content %}

    <article>

        <header>
            <h1>Join {{ g__settings.WEBSITE_NAME_DOMAIN }}</h1>
        </header>

        <p>
            Create and share your own chord charts! It's completely free
            to sign up. We'll only use your email address in case you
            lost your password.
        </p>

        <form method="POST">

            {% csrf_token %}

            <table class="_form-table">

                {% for error in errors.username %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="username">Username:</label></th>
                    <td>
                        <div class="tooltip-popup _popup-box">
                            <div class="_arrow-up"></div>
                            <p>
                                Your username will be your public identity on the website. For example,
                                when you create a chart, your username will be displayed with it.
                            </p>
                        </div>
                        <input name="username" id="username" type="text" value="{{ data.username }}" maxlength="{{ fields.username.max_length }}" required>
                    </td>
                    <td>
                        <div class="tooltip-button"><span>?</span></div>
                    </td>
                </tr>

                {% for error in errors.password1 %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="password1">Password:</label></th>
                    <td>
                        <div class="tooltip-popup _popup-box">
                            <div class="_arrow-up"></div>
                            <p>
                                Please choose a good password that won't be easy to guess for others.
                            </p>
                        </div>
                        <input name="password1" id="password1" type="password" maxlength="{{ fields.password1.max_length }}" required>
                    </td>
                    <td>
                        <div class="tooltip-button"><span>?</span></div>
                    </td>
                </tr>

                {% for error in errors.password2 %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="password2">Repeat password:</label></th>
                    <td>
                        <div class="tooltip-popup _popup-box">
                            <div class="_arrow-up"></div>
                            <p>
                                Please repeat your password to make sure you didn't make a mistake.
                            </p>
                        </div>
                        <input name="password2" id="password2" type="password" maxlength="{{ fields.password2.max_length }}" required>
                    </td>
                    <td>
                        <div class="tooltip-button"><span>?</span></div>
                    </td>
                </tr>

                {% for error in errors.email %}
                    <tr class="error">
                        <td></td>
                        <td>{{ error|safe }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr>
                    <th><label for="email">Email:</label></th>
                    <td>
                        <div class="tooltip-popup _popup-box">
                            <div class="_arrow-up"></div>
                            <p>
                                Your email address will be used to reset your password in case you
                                lost it.
                            </p>
                        </div>
                        <input name="email" id="email" type="email" value="{{ data.email }}" maxlength="{{ fields.email.max_length }}" required>
                    </td>
                    <td>
                        <div class="tooltip-button"><span>?</span></div>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Sign Up"></td>
                    <td></td>
                </tr>

            </table>

        </form>

    </article>

{% endblock %}
