{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="css/chordcharts/chart/chart.css" />
{% endblock %}

{% block javascript %}

    {{ super() }}

    <script>

        var GLOBALS = {
            api_root_url: '/api/chordcharts/',
            settings: {{ chart_settings_json|safe }},
            chart_data: {{ chart_json|safe }},
            all_keys: {{ all_keys_json|safe }},
            chord_types: {{ chord_types_json|safe }},
            edit: {% if edit %}true{% else %}false{% endif %},
            parsed: false,
            base_el_selector: '._base-content'
        };

    </script>

    <script type="text/template" id="template-measure-edit-measure">
        <div class="measure measure-beatschema-<%= beat_schema %>">
            <%
            for(var i = 1; i <= num_chords; i++) {
                %>
                <div class="chord-<%= i %>"><%= i %></div>
                <%
            }
            %>
        </div>
    </script>

    <script type="text/template" id="template-section-sidebar-part">
        <div class="section-sidebar-part <%= mode %>" style="width: <%= width %>px; height: <%= height %>px;" data-line-number="<%= line_number %>">
            <div class="letter" style="width: <%= width %>px; line-height: <%= height %>px;">
                <%= letter %>
            </div>
            <canvas></canvas>
        </div>
    </script>

    {% if edit %}

        <script type="text/template" id="template-section-header">
            {% import "chordcharts/chart/section-header.html" as section_header %}
            {{ section_header.section_header(
                section_name="<%- section_name %>",
                key_name="<%- key_name %>",
                move_down=true,
                move_up=true,
                remove=true,
                edit=true
            ) }}
        </script>

        <script type="text/template" id="template-lines">
            <table class="lines">
                {% include "chordcharts/chart/section-line-add.html" %}
            </table>
        </script>

        <script type="text/template" id="template-section">
            <header class="section-header"></header>
            <div class="section-sidebar" style="width: {{ chart_settings.section_sidebar_width }}px;"></div>
            <table>
                <tbody class="lines"></tbody>
                {% include "chordcharts/chart/section-line-add.html" %}
            </table>
        </script>

    {% endif %}

    <script src="{{ static('js/chordcharts/chart/chart.js') }}"></script>

{% endblock %}

{% block content %}

    <article class="chord-chart{% if edit %} edit-on{% endif %}">

        {% include "chordcharts/chart/header.html" %}
        {% include "chordcharts/chart/chart.html" %}
        {% include "chordcharts/chart/sidebar.html" %}

        {% if edit %}
            {% include "chordcharts/chart/edit-widgets.html" %}
        {% endif %}

        <div class="_clearfix"></div>
    </article>

{% endblock %}
