{% if short_description %}
    <p class="short-description">
        {{ short_description }}
    </p>
{% endif %}

<p>Author: {{ author }}</p>

{% if lyrics_url or video_url %}

    <div class="links-container">

        <div class="links">

            {% if video_url %}
                <a href="{{ video_url }}" class="video-url menu-item _button-small" target="_blank">
                    Video
                    <span class="fa fa-external-link"></span>
                </a>
            {% endif %}

            {% if lyrics_url %}
                <a href="{{ lyrics_url }}" class="lyrics-url menu-item _button-small" target="_blank">
                    Lyrics
                    <span class="fa fa-external-link"></span>
                </a>
            {% endif %}

        </div>

    </div>

{% endif %}
