<article class="chord-edit _popup-box">

    <div class="arrow-up"></div>

    <header class="chord-edit-header">
        <nav>
            <ul class="tabs">
                <li class="active" data-key="note">Note</li>
                <li data-key="type">Type</li>
                <li data-key="alt_bass_note">Bass</li>
            </ul>
        </nav>
        <span class="close fa fa-times"></span>
    </header>

    <div class="chord-settings">

        <div class="setting note" data-key="note">
            <ul class="box-choice-list"></ul>
            <div class="rest deselect">rest</div>
        </div>

        <div class="setting type" data-key="type">

            {% for chord_types in chord_types_sets %}

                <div class="type-part type-part-{{ forloop.counter }}">

                    <ul class="box-choice-list">
                        {% for chord_type in chord_types %}
                            <li
                                {% if chord_type.symbol|length > 4 %}
                                    class="small-font"
                                {% endif %}
                            >
                                {{ chord_type.symbol }}
                            </li>
                        {% endfor %}
                    </ul>

                    {% if forloop.counter == 1 %}
                        <div class="toggle">more &rsaquo;</div>
                    {% else %}
                        <div class="toggle">&lsaquo; back</div>
                    {% endif %}

                </div>

            {% endfor %}

        </div>

        <div class="setting alt-bass-note" data-key="alt_bass_note">
            <ul class="box-choice-list"></ul>
            <div class="none deselect">None</div>
        </div>

    </div>

</article>

<article class="measure-edit _popup-box">
    <div class="arrow-up"></div>
    <div class="padding">
        <span class="close fa fa-times"></span>
        <ul class="measures"></ul>
        <div class="_clearfix"></div>
        <div class="remove">Remove measure</div>
    </div>
</article>

<article class="section-name _popup-box">

    <div class="arrow-up"></div>
    <span class="close fa fa-times"></span>

    <label class="name">
        <span>Section name:</span>
        <input type="text" class="name-input _text-input">
    </label>

</article>

<article class="section-key _popup-box">

    <div class="arrow-up"></div>
    <span class="close fa fa-times"></span>

    <div class="content padding">
        <label class="key">
            <span>Key:</span>
            {% include "core/widgets/key-select.html" %}
            <div class="_clearfix"></div>
        </label>
    </div>

</article>

<article class="line-edit _popup-box">

    <div class="arrow-up"></div>
    <div class="header">
        <span class="close fa fa-times"></span>
    </div>

    <ul class="letters box-choice-list">
        <li data-letter="A">A</li>
        <li data-letter="B">B</li>
        <li data-letter="C">C</li>
        <li data-letter="D">D</li>
        <li data-letter="E">E</li>
    </ul>

    <div class="_clearfix"></div>

    <label class="merge-up">
        <input type="checkbox" name="merge-up">
        <span>Merge with previous line</span>
    </label>

    <label class="merge-down">
        <input type="checkbox" name="merge-down">
        <span>Merge with next line</span>
    </label>

    <div class="_clearfix"></div>
    <div class="disable-sidebar">Disable sidebar</div>

</article>

