<header class="chord-chart-header">

    <div class="song-name">

        <h1>
            <span>{{ chart.song.name }}</span>
        </h1>

        {% if edit %}
            <div class="song-name-change _popup-box">

                <div class="arrow-up"></div>

                <div class="padding">
                    <span class="close fa fa-times"></span>

                    <label>
                        <span>Song name:</span>
                        <input class="song-name-input _text-input" type="text" value="{{ chart.song.name }}">
                    </label>

                </div>

            </div>
        {% endif %}

    </div>

    {% if not edit %}
        <div class="key">
            <span>Key of {{ chart.sections.0.key.name }}</span>
        </div>
    {% endif %}

    <div class="_clearfix"></div>

</header>
