<header class="chord-chart-header">

    <div class="chord-chart-header-content">

        <div class="song-name-short-description">

            <div class="song-name{% if edit %} _popup-box-opener{% endif %}">

                <h1>
                    <span>{{ chart.song.name }}</span>
                </h1>

                {% if edit %}
                    <div class="song-name-change _popup-box">

                        <div class="_arrow-up"></div>

                        <div class="padding">

                            <span class="_close fa fa-times"></span>

                            <label>
                                <span>Song name:</span>
                                <input class="song-name-input _text-input" type="text" value="{{ chart.song.name }}">
                            </label>

                        </div>

                    </div>
                {% endif %}

            </div>

            <div class="short-description-links">

                <div class="short-description{% if edit %} _popup-box-opener{% endif %}">

                    <span class="short-description-text">
                        {% if chart.short_description %}
                            {{ chart.short_description }}
                        {% elif edit %}
                            <span class="_link">add short description</span>
                        {% endif %}
                    </span>

                    {% if edit %}
                        <div class="short-description-change _popup-box">

                            <div class="_arrow-up"></div>

                            <label>
                                <span>Short description:</span>
                                <input class="short-description-input _text-input" type="text" value="{{ chart.short_description }}">
                            </label>

                        </div>
                    {% endif %}

                </div>

                {% if edit %}

                    <div class="chart-link video-url _popup-box-opener">

                        <span class="video-url-icon fa fa-youtube-play"></span>

                        <div class="video-url-change _popup-box">

                            <div class="_arrow-up"></div>

                            <label>
                                <span>Video URL:</span>
                                <input class="video-url-input _text-input" type="text" value="{{ chart.video_url }}">
                            </label>

                        </div>

                    </div>

                {% elif chart.video_url %}
                    <a class="chart-link" href="{{ chart.video_url }}" target="_blank"><span class="fa fa-youtube-play"></span></a>
                {% endif %}

                {% if edit %}

                    <div class="chart-link lyrics-url _popup-box-opener">

                        <span class="lyrics-url-icon fa fa-file-text"></span>

                        <div class="lyrics-url-change _popup-box">

                            <div class="_arrow-up"></div>

                            <label>
                                <span>Lyrics URL:</span>
                                <input class="lyrics-url-input _text-input" type="text" value="{{ chart.lyrics_url }}">
                            </label>

                        </div>

                    </div>

                {% elif chart.lyrics_url %}
                    <a class="chart-link" href="{{ chart.lyrics_url }}" target="_blank"><span class="fa fa-file-text"></span></a>
                {% endif %}

            </div>

        </div>

        <div class="key-author">

            {% if not edit %}
                <div class="key">
                    Key of {{ chart.sections.0.key.name }}
                </div>
            {% endif %}

            <div class="author">
                Chart by: {{ chart.owner.username }}
            </div>

            <div class="_clearfix"></div>

        </div>

    </div>

</header>
