<header class="chord-chart-header">

    <div class="song-name">

        <h1>
            <span>{{ chart.song.name }}</span>
        </h1>

        {% if edit %}
            <div class="song-name-change _popup-box">

                <div class="arrow-up"></div>

                <div class="padding">
                    <span class="close fa fa-times"></span>

                    <label>
                        <span>Song name:</span>
                        <input class="song-name-input _text-input" type="text" value="{{ chart.song.name }}">
                    </label>

                </div>

            </div>
        {% endif %}

    </div>

    <div class="header-bar{% if edit %} _no-select{% endif %}">

        <div class="key-select">
            <div class="closed">
                <div class="current-key">
                    <span class="text">Key of <span class="key-name">{{ chart.key.name }}</span></span>
                    <span class="fa fa-lg fa-caret-down"></span>
                </div>
            </div>
            <div class="open">
                <div class="current-key">
                    <span class="text">Key of <span class="key-name">{{ chart.key.name }}</span></span>
                    <span class="fa fa-lg fa-caret-up"></span>
                </div>
                <hr>
                <div>Transpose to:</div>
                <ul class="key-tonics box-choice-list">
                    {% for key in chart_keys %}
                        <li data-key-tonic="{{ key.tonic }}"{% if chart.key.id == key.id %} class="selected"{% endif %}>
                            {% if edit %}
                                <a>{{ key.tonic }}</a>
                            {% else %}
                                <a href="{% url "chordcharts:chart" chart_id=chart.id song_slug=chart.song.slug key_tonic=key.tonic %}">{{ key.tonic }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="chart-menu">

            {% if edit %}

                <div class="button settings _popup-box-opener" href="">

                    <span class="text">Settings</span>
                    <span class="fa fa-cog"></span>

                    <div class="widget _popup-box">

                        <div class="arrow-up"></div>

                        <div class="sub-buttons">

                            <div class="sub-button delete">

                                <div class="text">Delete chart</div>
                                <span class="fa fa-times"></span>

                                <form method="POST" action="{% url "chordcharts:delete_chart" chart_id=chart.id song_slug=chart.song.slug %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="song_name" value="{{ chart.song.name }}">
                                </form>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="button">
                    <a href="{% url "chordcharts:chart" chart_id=chart.id song_slug=chart.song.slug %}">
                        <span class="text">Done</span>
                        <span class="fa fa-check"></span>
                    </a>
                </div>

            {% else %}

                <div class="button new">
                    <a href="{% url "chordcharts:new_chart" %}">
                        <span class="text">New</span>
                        <span class="fa fa-file-o"></span>
                    </a>
                </div>

                <div class="button edit">
                    <a href="{% url "chordcharts:edit_chart" chart_id=chart.id song_slug=chart.song.slug %}">
                        <span class="text">Edit</span>
                        <span class="fa fa-pencil"></span>
                    </a>
                </div>

            {% endif %}

        </div>

    </div>

</header>
