<div class="sidebar _site-sidebar">

    <div class="content">

        {% if chart.short_description %}

            <div class="chart-info _popup-box-opener">

                <h6>
                    Info
                    {% if can_edit %}
                        <span class="edit fa fa-pencil"></span>
                    {% endif %}
                </h6>

                <hr>

                <p class="short-description _small">
                    {{ chart.short_description }}
                </p>

                {% if chart.lyrics_url or chart.video_url %}

                    <hr>

                    <div class="links">

                        {% if chart.lyrics_url %}
                            <a href="{{ chart.lyrics_url }}" class="_small" target="_blank">Lyrics</a>
                        {% endif %}

                        {% if chart.lyrics_url and chart.video_url %}
                            -
                        {% endif %}

                        {% if chart.video_url %}
                            <a href="{{ chart.video_url }}" class="_small" target="_blank">Video</a>
                        {% endif %}

                    </div>

                {% endif %}

                {% if can_edit %}
                    <div class="chart-info-edit-widget _popup-box">
                        <div>Description:</div>
                        <textarea>{{ chart.short_description }}</textarea>
                    </div>
                {% endif %}

            </div>

        {% endif %}

        <div class="chart-menu">

            <div class="key-select menu-item _button-small _popup-box-opener">

                <span class="text"><span class="key-name">Transpose</span></span>
                <span class="fa fa-lg fa-caret-down"></span>

                <div class="transpose-widget _popup-box">

                    <div class="arrow-up"></div>

                    <div>Transpose to:</div>
                    <ul class="key-tonics box-choice-list">
                        {% for key in chart_keys %}
                            <li data-key-tonic="{{ key.tonic }}"{% if chart.key.id == key.id %} class="selected"{% endif %}>
                                {% if edit %}
                                    <a>{{ key.tonic }}</a>
                                {% else %}
                                    <a href="{% url "chordcharts:chart" chart_id=chart.id song_slug=chart.song.slug key_tonic=key.tonic %}">{{ key.tonic }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>

            {% if edit %}

                <div class="settings menu-item _button-small _popup-box-opener">

                    <span class="text">Settings</span>
                    <span class="fa fa-cog"></span>

                    <div class="_popup-box">

                        <div class="arrow-up"></div>

                        <div class="button delete">

                            <span class="text">Delete chart</span>
                            <span class="fa fa-times"></span>

                            <form method="POST" action="{% url "chordcharts:delete_chart" chart_id=chart.id song_slug=chart.song.slug %}">
                                {% csrf_token %}
                                <input type="hidden" name="song_name" value="{{ chart.song.name }}">
                            </form>

                        </div>

                    </div>

                </div>

            {% endif %}

            {% if edit %}

                <a class="menu-item _button-small" href="{% url "chordcharts:chart" chart_id=chart.id song_slug=chart.song.slug %}">
                    <span class="text">Done editing</span>
                    <span class="fa fa-check"></span>
                </a>

            {% elif can_edit %}

                <a class="menu-item _button-small" href="{% url "chordcharts:edit_chart" chart_id=chart.id song_slug=chart.song.slug %}">
                    <span class="text">Modify chart</span>
                    <span class="fa fa-pencil"></span>
                </a>

            {% endif %}

        </div>

    </div>

</div>
