<div class="sidebar _site-sidebar">

    <div class="content">

        {% if can_edit %}
            <div class="public-switch switch-state-{% if chart.public %}on{% else %}off{% endif %} menu-item _button-small">
                <div class="slider-contents">
                    <span class="on-label">public</span>
                    <span class="circle"></span>
                    <span class="off-label">non-public</span>
                </div>
            </div>
        {% endif %}

        <div class="key-select menu-item _button-small _popup-box-opener">

            <span class="text"><span class="key-name">Transpose</span></span>
            <span class="fa fa-arrows-v"></span>

            <div class="transpose-widget _popup-box">

                <div class="_arrow-up"></div>

                <div>Transpose to:</div>
                <ul class="key-tonics box-choice-list">
                    {% for key in chart_keys %}
                        <li data-key-tonic="{{ key.tonic }}"{% if chart.key.id == key.id %} class="selected"{% endif %}>
                            {% if edit %}
                                <a>{{ key.tonic }}</a>
                            {% else %}
                                <a href="{{ url('chordcharts:chart', kwargs={'chart_id': chart.id, 'song_slug': chart.song.slug, 'key_tonic': key.tonic}) }}">{{ key.tonic }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </div>

        </div>

        {% if edit %}

            <div class="settings menu-item _button-small _popup-box-opener">

                <span class="text">Settings</span>
                <span class="fa fa-cog"></span>

                <div class="_popup-box">

                    <div class="_arrow-up"></div>

                    <div class="button delete">

                        <span class="text">Delete chart</span>
                        <span class="fa fa-times"></span>

                        <form method="POST" action="{{ url('chordcharts:delete_chart', kwargs={'chart_id': chart.id, 'song_slug': chart.song.slug}) }}">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="hidden" name="song_name" value="{{ chart.song.name }}">
                        </form>

                    </div>

                </div>

            </div>

        {% endif %}

        {% if edit %}
            <a class="menu-item _button-small" href="{{ url('chordcharts:chart', kwargs={'chart_id': chart.id, 'song_slug': chart.song.slug}) }}">
                <span class="text">Done editing</span>
                <span class="fa fa-check"></span>
            </a>
        {% elif can_edit %}
            <a class="menu-item _button-small" href="{{ url('chordcharts:edit_chart', kwargs={'chart_id': chart.id, 'song_slug': chart.song.slug}) }}">
                <span class="text">Modify chart</span>
                <span class="fa fa-pencil"></span>
            </a>
        {% endif %}

        {% if not edit and has_other_versions %}
            <a href="{{ url('search', kwargs={'search_term': chart.song.name}) }}" class="other-versions menu-item _button-small _popup-box-opener">
                <span>Other versions</span>
                <span class="icon fa fa-list"></span>
            </a>
        {% endif %}

    </div>

</div>
