{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="css/chordcharts/chord-symbols.css" />
{% endblock %}

{% block content %}

    <article class="chord-symbols">

        <header>
            <h1>Chord symbols</h1>
        </header>

        <section>

            <div class="symbols-list">

                <table>

                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Chord name</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for chord_type in chord_types %}
                            <tr>
                                <td>{{ chord_type.symbol }}</td>
                                <td>{{ chord_type.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </div>

            {% comment %}
            <div class="how-to-play">

                <article class="guitar-fingerboard-chord">

                    <h1>Major</h1>

                    <table>

                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <span class="fa fa-circle root"></span>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div>
                                        <span class="fa fa-circle"></span>
                                        <span class="fa fa-circle right"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div>
                                        <span class="fa fa-circle"></span>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div>
                                        <span class="fa fa-circle"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span class="fa fa-circle"></span>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>

                    </table>

                </article>

            </div>
            {% endcomment %}

        </section>

    </article>

{% endblock %}
