{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/chordcharts/new_chart.css" />
{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script>

        var GLOBALS = {
            all_keys: {{ all_keys_json|safe }}
        }

    </script>

    <script src="{{ STATIC_URL }}js/chordcharts/new_chart.js"></script>

{% endblock %}

{% block content %}

    <div class="new">

        <header>
            <h1>New chord chart</h1>
        </header>

        <form class="chart-settings" method="POST">

            {% csrf_token %}

            <table>

                <tr>
                    <th>

                        <label for="song">Song title:</label>
                    </th>
                    <td>
                        <div class="tooltip-popup popup-box">
                            <div class="arrow-up"></div>
                            <h4>Song title</h4>
                            <p>
                                Chord charts with the same song title will be associated with each
                                other, so that people can easily find diffent charts for the same song.
                            </p>
                        </div>
                        <input type="text" name="song_name" id="song" maxlength="{{ song_name_max_length }}">
                    </td>
                    <td>
                        <div class="tooltip-button"><span>?</span></div>
                    </td>
                </tr>

                <tr>
                    <th>

                        <label for="short_description">Short description:</label>
                    </th>
                    <td>
                        <div class="tooltip-popup popup-box">
                            <div class="arrow-up"></div>
                            <h4>Short description</h4>
                            <p>For example:</p>
                            <ul>
                                <li>Song version (e.g. <em>“Billie Holiday version”)</em></li>
                                <li>Style (e.g. <em>“Swing style”</em>)</li>
                                <li>Aimed instrument (e.g. <em>“For guitar”</em>)</li>
                            </ul>
                            <p>Leave blank if nothing special applies.</p>
                        </div>
                        <input type="text" name="short_description" id="short_description" placeholder="optional" maxlength="{{ short_description_max_length }}">
                    </td>
                    <td>
                        <div class="tooltip-button"><span>?</span></div>
                    </td>
                </tr>

                <tr>

                    <th>
                        <label for="video_url">Video URL:</label>
                    </th>

                    <td>
                        <div class="tooltip-popup popup-box">
                            <div class="arrow-up"></div>
                            <h4>Video URL</h4>
                            <p>
                                A URL to a video of the song, preferrably matching the chords in the
                                chart.
                            </p>
                        </div>
                        <input type="text" name="video_url" id="video_url" placeholder="optional" maxlength="{{ video_url_max_length }}">
                    </td>

                    <td>
                        <div class="tooltip-button"><span>?</span></div>
                    </td>

                </tr>

                <tr>
                    <th>
                        <label for="lyrics_url">Lyrics URL:</label>
                    </th>
                    <td>
                        <div class="tooltip-popup popup-box">
                            <div class="arrow-up"></div>
                            <h4>Lyrics URL</h4>
                            <p>A URL to lyrics (if there are any) that go along with the chart.</p>
                        </div>
                        <input type="text" name="lyrics_url" id="lyrics_url" placeholder="optional" maxlength="{{ lyrics_url_max_length }}">
                    </td>
                    <td>
                        <div class="tooltip-button"><span>?</span></div>
                    </td>
                </tr>

                <tr class="key">

                    <th>
                        <label>Key:</label>
                    </th>
                    <td>

                        <div class="tooltip-popup popup-box">
                            <div class="arrow-up"></div>
                            <h4>Key</h4>
                            <p>The default key the chart is shown in. You can always change this later.</p>
                        </div>

                        {% include "core/widgets/key_select.html" %}

                        <div class="tooltip-button"><span>?</span></div>

                        <input type="hidden" class="key-tonic-input" name="key_tonic" value="C">
                        <input type="hidden" class="key-tonality-input" name="key_tonality" value="Major">

                    </td>
                    <td></td>

                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Create">
                    </td>
                    <td></td>
                </tr>

            </table>
        </form>

    </div>

{% endblock %}
