{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="css/chordcharts/search.css" />
{% endblock %}

{% block content %}

    <article class="chart-search _site-content">

        <header>

            <h1>
                {% if search_term %}
                    {{ search_term }}
                {% else %}
                    All charts
                {% endif %}
            </h1>

            <h4>
                {% if username %}
                    from <strong>{{ username }}</strong>
                {% endif %}
            </h4>

        </header>

        <section class="charts">

            {% for chart in results %}

                <div class="chart">

                    <a class="chart-link" href="{% url "chordcharts:chart" chart_id=chart.id %}">

                        <span class="song-name">{{ chart.song.name }}</span>

                        {% if chart.short_description %}
                            <span class="short-description">
                                {{ chart.short_description }}
                            </span>
                        {% endif %}

                    </a>

                    {% if chart.public == False %}
                        <span class="private-chart">private</span>
                    {% endif %}

                    <span class="creation-date">{{ chart.creation_date|date:"d F Y" }}</span>

                    <span class="owner">
                        <a href="{% url "search" %}?user={{ chart.owner.username }}">
                            {{ chart.owner.username }}
                        </a>
                    </span>

                </div>

            {% endfor %}

        </section>

    </article>

{% endblock %}
