{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="css/chordcharts/song-index.css" />
{% endblock %}

{% block javascript %}
    <script src="{{ STATIC_URL }}js/chordcharts/song-index.js"></script>
{% endblock %}

{% block content %}

    <article class="song-index">

        <header>
            <h1>All songs</h1>
        </header>

        <ul class="song-list">
            {% for song in songs %}
                {% if song.charts.all|length > 0 %}
                    <li>
                        <a href="{% url "chordcharts:chart" chart_id=song.charts.first.id song_slug=song.slug %}">
                            {{ song.name }}
                            {% if song.charts.all|length > 1 %}
                                ({{ song.charts.all|length }})
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

    </article>

{% endblock %}
