{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="css/chordcharts/versions.css" />
{% endblock %}

{% block content %}

    <article class="chart-versions _site-content">

        <header>
            <h1>All charts for the song "{{ song.name }}"</h1>
        </header>

        <section>

            <table class="charts">

                <tr>
                    <th>Short description</th>
                    <th>Key</th>
                    <th>Video</th>
                    <th>Lyrics</th>
                    <th>Author</th>
                </tr>

                {% for chart in song.charts.all %}

                    <tr>

                        <td>
                            <div class="link-container">
                                <a href="{% url "chordcharts:chart" chart_id=chart.id %}">
                                    {% if chart.short_description %}
                                        {{ chart.short_description }}
                                    {% else %}
                                        <i>no short description</i>
                                    {% endif %}
                                </a>
                            </div>
                        </td>

                        <td>
                            <div class="link-container">
                                <a href="{% url "chordcharts:chart" chart_id=chart.id %}">
                                    {{ chart.key }}
                                </a>
                            </div>
                        </td>

                        <td class="video-url{% if chart.video_url %} url-present{% endif %}">
                            <div class="link-container">
                                {% if chart.video_url %}
                                    <a href="{{ chart.video_url }}" target="_blank">
                                        <span class="fa fa-youtube-play"></span>
                                    </a>
                                {% else %}
                                    <a href="{% url "chordcharts:chart" chart_id=chart.id %}">
                                        &nbsp;
                                    </a>
                                {% endif %}
                            </div>
                        </td>

                        <td class="lyrics-url{% if chart.lyrics_url %} url-present{% endif %}">
                            <div class="link-container">
                                {% if chart.lyrics_url %}
                                    <a href="{{ chart.lyrics_url }}" target="_blank">
                                        <span class="fa fa-file-text"></span>
                                    </a>
                                {% else %}
                                    <a href="{% url "chordcharts:chart" chart_id=chart.id %}">
                                        &nbsp;
                                    </a>
                                {% endif %}
                            </div>
                        </td>

                        <td>
                            <div class="link-container">
                                <a href="{% url "chordcharts:chart" chart_id=chart.id %}">
                                    {{ chart.owner.username }}
                                </a>
                            </div>
                        </td>

                    </tr>

                {% endfor %}

            </table>

        </section>

    </article>

{% endblock %}
