<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Chord Charts</title>
        <base href="{{ STATIC_URL }}">
        <link type="text/css" rel="stylesheet" href="css/core/core.css" />
        {% block css %}{% endblock %}
    </head>

    <body>

        <main>

            <header class="_base-header">

                <div class="content">

                    <h1>
                        <a href="{% url "core:frontpage" %}">{{ core__settings.WEBSITE_NAME }}</a>
                    </h1>

                    <div class="search">
                        <div class="search-term">
                            <input type="text" class="_text-input" placeholder="Search charts">
                        </div>
                        <div class="search-button">
                            <button type="submit" class="fa fa-search _button" value="Search">
                        </div>
                    </div>

                    <nav>

                        <div class="nav-item all-charts">
                            <a class="text" href="{% url "chordcharts:index" %}">all charts</a>
                        </div>

                        {% if user.is_authenticated %}

                            <div class="nav-item new-chart">
                                <a class="text" href="{% url "chordcharts:new_chart" %}">create chart</a>
                            </div>

                        {% endif %}

                        <div class="nav-item help _popup-box-opener">

                            <span class="text">help</span>

                            <div class="nav-item-popup _popup-box">

                                <div class="arrow-up"></div>

                                <div class="sub-buttons">

                                    <div class="sub-button delete">
                                        <a href="{% url "chordcharts:how_to_read" %}">How to read</a>
                                    </div>

                                    <div class="sub-button delete">
                                        <a href="{% url "chordcharts:chord_symbols" %}">Chord symbols</a>
                                    </div>

                                </div>

                            </div>

                        </div>

                        {% if user.is_authenticated %}

                            <div class="nav-item user _popup-box-opener">

                                <span class="text">
                                    <span class="fa fa-user"></span>
                                    {{ user.username }}
                                </span>

                                <div class="nav-item-popup _popup-box">

                                    <div class="arrow-up"></div>

                                    <div class="sub-buttons">

                                        <div class="sub-button delete">
                                            <a href="{% url "users:home" %}">My account</a>
                                        </div>

                                        <div class="sub-button delete">
                                            <a href="{% url "users:logout" %}">Sign out</a>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        {% else %}

                            <div class="nav-item login">
                                <a class="text" href="{% url "users:login" %}">log in</a>
                            </div>

                            <div class="nav-item signup">
                                <a class="text" href="{% url "users:signup:signup" %}">sign up</a>
                            </div>

                        {% endif %}

                        </div>

                    </nav>

                </div>

            </header>

            <div class="_base-content">
                {% block content %}{% endblock %} 
            </div>

        </main>

        <script src="js/core/core.js"></script>
        {% block javascript %}{% endblock %}

    </body>

</html>
