{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="css/frontpage/frontpage.css" />
{% endblock %}

{% block content %}

    <article class="frontpage _site-content">

        <h1>
            Create and share<br>
            good lookin' Chord Charts.
        </h1>

        <div class="content">

            <div class="text">
                <h2>
                    JazzChords.org is a place where people can create and share
                    good looking chord charts. 
                </h2>
            </div>

            <div class="image">
                <img src="{% static "images/singin-in-the-bathtub-edit-view.png" %}" width="400">
            </div>

        </div>

    </article>

{% endblock %}
