{% load compress %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Chord Charts</title>
        <base href="{{ STATIC_URL }}">
        {% compress css %}
            <link type="text/css" rel="stylesheet" href="css/global/normalize.css" />
            <link type="text/css" rel="stylesheet" href="css/fonts/oxygen.css" />
            <link type="text/less" rel="stylesheet" href="css/global/base.less" />
            {% block css %}{% endblock %}
        {% endcompress %}

        {% if DEBUG %}
            <script>
                less = {
                    rootpath: '{{ STATIC_URL }}',
                    log_level: 0
                }
            </script>
            <script src="js/libs/less.js"></script>
            {% if LESS_WATCH %}<script>less.watch()</script>{% endif %}
        {% endif %}

    </head>

    <body>

        {% block content %}{% endblock %} 

        <div id="js-templates">
            {% block js_templates %}{% endblock %}
        </div>

        {% compress js %}
            <script src="js/libs/jquery.js"></script>
            <script src="js/libs/underscore.js"></script>
            <script src="js/libs/backbone.js"></script>
            {% block javascript %}{% endblock %}
        {% endcompress %}

    </body>

</html>
