{% load compress %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Chord Charts</title>
        {% compress css %}
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}global/css/normalize.css" />
            <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}global/less/base.less" />
            {% block css %}{% endblock %}
        {% endcompress %}
    </head>

    <body>

        {% block content %}{% endblock %} 

        {% compress js %}
            <script src="{{ STATIC_URL }}global/js/jquery-2.0.2.min.js"></script>
            {% block javascript %}{% endblock %}
        {% endcompress %}

    </body>

</html>
