{% extends "base.html" %}
{% load colspan %}

{% block css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/apps/chordcharts/chart.less" />
{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script>

        var GLOBALS = {
            chart_data: {{ chart_json|safe }},
            chord_types: {{ chord_types_json|safe }}
        }

    </script>
    <script data-main="{{ STATIC_URL }}js/apps/chordcharts/main" src="{{ STATIC_URL }}js/libs/require.js"></script>

    <script type="text/template" id="template-measure-edit-measure">
        <div class="measure measure-beatschema-<%= beat_schema %>">
            <%
            for(var i = 1; i <= num_chords; i++) {
                %>
                <div class="chord-<%= i %>"><%= i %></div>
                <%
            }
            %>
        </div>
    </script>

{% endblock %}

{% block content %}

    <article class="chord-chart{% if edit %} edit-on{% endif %}">

        <header class="chord-chart-header">

            <h1>{{ chart.song.name }}</h1>

            <div class="header-bar">

                <div class="key-select">
                    <div class="closed">
                        <div class="current-key">Key of {{ chart.key.name }}</div>
                    </div>
                    <div class="open">
                        <div class="current-key">Key of {{ chart.key.name }}</div>
                        <hr>
                        <div>Transpose to:</div>
                        <ul>
                            {% for key in all_keys %}
                                <li><a href="{% url "chart" song_slug=chart.song.slug key_slug=key.slug %}">{{ key.tone }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="right">
                    {% if edit %}
                        <a class="save" href="{% url "chart" song_slug=chart.song.slug key_slug=chart.key.slug %}">Save</a>
                    {% else %}
                        <a class="edit" href="{% url "chart_edit" song_slug=chart.song.slug key_slug=chart.key.slug %}">Edit</a>
                    {% endif %}
                </div>

            </div>

        </header>

        <div class="chart">

            {% for section in chart.sections %}

                <section class="section" style="width: {{ chart.width }}px;">

                    {% if section.alt_name or edit %}

                        <header class="section-header">

                            <div class="name">
                                {{ section.name }}
                            </div>

                            {% if edit %}
                                <div class="section-edit-buttons">
                                    <div class="edit"></div>
                                    <div class="remove"></div>
                                </div>
                            {% endif %}

                        </header>

                    {% endif %}

                    <div class="section-sidebar" style="height: {{ section.height }}px;">
                        <canvas></canvas>
                        <div class="section-sidebar-letter" style="line-height: {{ section.height }}px;">
                            {% if not section.alt_name %}
                                {{ section.sequence_letter }}
                            {% endif %}
                        </div>
                    </div>

                    <table class="lines">

                        {% for line in section.lines %}

                            <tr class="line">

                                {% for measure in line.measures %}

                                    <td class="
                                        measure
                                        measure-beatschema-{{ measure.beat_schema }}
                                    ">

                                        <div class="chords">

                                            {% if measure.beat_schema == "4" %}
                                                <div class="chord">
                                                    <span class="chord-name">{{ measure.chords.0.chart_output }}</span>
                                                </div>
                                            {% endif %}

                                            {% if measure.beat_schema == "2-2" %}
                                                <div class="chord chord-1">
                                                    <span class="chord-name">{{ measure.chords.0.chart_output }}</span>
                                                </div>
                                                <div class="chord chord-2">
                                                    <span class="chord-name">{{ measure.chords.1.chart_output }}</span>
                                                </div>
                                            {% endif %}

                                            {% if measure.beat_schema == "2-1-1" %}
                                                <div class="chord chord-1">
                                                    <span class="chord-name">{{ measure.chords.0.chart_output }}</span>
                                                </div>
                                                <div class="chord chord-2">
                                                    <span class="chord-name">{{ measure.chords.1.chart_output }}</span>
                                                </div>
                                                <div class="chord chord-3">
                                                    <span class="chord-name">{{ measure.chords.2.chart_output }}</span>
                                                </div>
                                            {% endif %}

                                        </div>

                                    </td>

                                {% endfor %}

                                {% if line.measures|length < 8 %}

                                    {% if edit %}

                                        <td class="measure-add colspan" colspan="{{ line.measures|colspan }}">
                                            <div class="plus">+</div>
                                        </td>

                                    {% else %}

                                        <td class="colspan" colspan="{{ line.measures|colspan }}"></td>

                                    {% endif %}

                                {% endif %}

                            </tr>

                        {% endfor %}

                        {% if edit %}
                            <tr class="line-add">
                                <td class="colspan" colspan="8">
                                    <div class="plus">+</div>
                                </td>
                            </tr>
                        {% endif %}

                    </table>

                </section>

            {% endfor %}

            {% if edit %}
                <div class="section-new">
                    New section
                </div>
            {% endif %}

        </div>

        {% if edit %}

            <section class="chord-edit arrow-popup">

                <div class="arrow-up"></div>

                <header class="chord-edit-header">
                    <nav>
                        <ul class="tabs padding">
                            <li class="active" data-key="note">Note</li>
                            <li data-key="type">Type</li>
                            <li data-key="alt_bass_note">Bass</li>
                        </ul>
                    </nav>
                    <div class="close"></div>
                </header>

                <div class="chord-settings padding">

                    <div class="setting note" data-key="note">
                        <ul></ul>
                    </div>

                    <div class="setting type" data-key="type">

                        {% for chord_types in chord_types_sets %}

                            <div class="type-part type-part-{{ forloop.counter }}">

                                <ul>
                                    {% for chord_type in chord_types %}
                                        <li
                                            {% if chord_type.symbol|length > 4 %}
                                                class="small-font"
                                            {% endif %}
                                        >
                                            {{ chord_type.symbol }}
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% if forloop.counter == 1 %}
                                    <div class="toggle">more &rsaquo;</div>
                                {% else %}
                                    <div class="toggle">&lsaquo; back</div>
                                {% endif %}

                            </div>

                        {% endfor %}

                    </div>

                    <div class="setting alt-bass-note" data-key="alt_bass_note">
                        <div class="none">None</div>
                        <ul></ul>
                    </div>

                </div>

            </section>

            <section class="measure-edit arrow-popup">
                <div class="arrow-up"></div>
                <div class="padding">
                    <div class="close"></div>
                    <ul class="measures"></ul>
                    <div class="remove">Remove measure</div>
                </div>
            </section>

            <section class="section-edit arrow-popup">

                <div class="arrow-up"></div>

                <div class="name">

                    <label>
                        <span class="radio-button">
                            <input type="radio" name="section-name" value="sequence-letter" class="sequence-letter-radio">
                        </span>
                        <span class="label-text">Sequence letter</span>
                        <span class="sequence-letter"></span>
                    </label>

                    <label>
                        <span class="radio-button">
                            <input type="radio" name="section-name" value="custom-name" class="custom-name-radio">
                        </span>
                        <span class="label-text">Custom name</span>
                        <input type="text" class="custom-name-input">
                    </label>

                </div>

            </section>

        {% endif %}

    </article>

{% endblock %}
