{% extends "base.html" %}
{% load compress %}

{% block css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/apps/chordcharts/chart.less" />
{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script>

        var GLOBALS = {
            edit: {% if edit %}true{% else %}false{% endif %},
            chart_data: {{ chart_json|safe }},
            chord_types: {{ chord_types_json|safe }}
        }

    </script>
    <script data-main="{{ STATIC_URL }}js/apps/chordcharts/main" src="{{ STATIC_URL }}js/libs/require.js"></script>

{% endblock %}

{% block content %}

    <article class="chord-chart">

        <header>

            <h1>{{ chart.song.name }}</h1>

            <div class="header-bar">

                <div class="key-select">
                    <div class="closed">
                        <div class="current-key">Key of {{ chart.key.name }}</div>
                    </div>
                    <div class="open">
                        <div class="current-key">Key of {{ chart.key.name }}</div>
                        <hr>
                        <div>Transpose to:</div>
                        <ul>
                            {% for key in all_keys %}
                                <li><a href="{% url "chart" song_slug=chart.song.slug key_slug=key.slug %}">{{ key.tone }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="right">
                    {% if edit %}
                        <a class="save" href="{% url "chart" song_slug=chart.song.slug key_slug=chart.key.slug %}">Save</a>
                    {% else %}
                        <a class="edit" href="{% url "chart_edit" song_slug=chart.song.slug key_slug=chart.key.slug %}">Edit</a>
                    {% endif %}
                </div>

            </div>

        </header>

        <div class="chart">

            {% for section in chart.sections %}

                <section class="section" style="width: {{ chart.width }}px;">

                    {% if section.alt_title %}
                        <header>
                            {{ section.alt_title }}
                        </header>
                    {% endif %}

                    <div class="section-sidebar" style="height: {{ section.height }}px;">
                        {% if not section.alt_title %}
                            <div class="section-sidebar-title" style="line-height: {{ section.height }}px;">
                                {{ section.name }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="lines">

                        {% for line in section.lines %}

                            <div class="line{% if forloop.first %} line-first{% endif %}">

                                {% for measure in line.measures %}

                                    <div class="
                                        measure
                                        measure-beatschema-{{ measure.beat_schema }}
                                        {% if forloop.first %}
                                            measure-first
                                        {% endif %}
                                        {% if edit %}
                                            edit-on
                                        {% endif %}
                                    ">

                                        {% if measure.beat_schema == "4" %}
                                            <div class="chord">
                                                <span class="chord-name">{{ measure.chords.0.chart_output }}</span>
                                            </div>
                                        {% endif %}

                                        {% if measure.beat_schema == "2-2" %}
                                            <div class="chord chord-first">
                                                <span class="chord-name">{{ measure.chords.0.chart_output }}</span>
                                            </div>
                                            <div class="chord chord-second">
                                                <span class="chord-name">{{ measure.chords.1.chart_output }}</span>
                                            </div>
                                        {% endif %}

                                        {% if measure.beat_schema == "2-1-1" %}
                                            <div class="chord chord-first">
                                                <span class="chord-name">{{ measure.chords.0.chart_output }}</span>
                                            </div>
                                            <div class="chord chord-second">
                                                <span class="chord-name">{{ measure.chords.1.chart_output }}</span>
                                            </div>
                                            <div class="chord chord-third">
                                                <span class="chord-name">{{ measure.chords.2.chart_output }}</span>
                                            </div>
                                        {% endif %}

                                    </div>

                                {% endfor %}

                            </div>

                        {% endfor %}

                    </div>

                </section>

            {% endfor %}

        </div>

        {% if edit %}

            <section class="chord-edit">

                <header class="padding">
                    <span class="chord-name"></span>
                    <div class="controls">
                        <div class="apply"></div>
                        <div class="discard"></div>
                    </div>
                </header>

                <nav>
                    <ul class="tabs padding">
                        <li class="active" data-key="note">Note</li>
                        <li data-key="type">Type</li>
                        <li data-key="alt_bass_note">Bass</li>
                    </ul>
                </nav>

                <div class="chord-settings padding">

                    <ul class="setting note"></ul>

                    <div class="setting type">

                        {% for chord_types in chord_types_sets %}

                            <div class="type-part type-part-{{ forloop.counter }}">

                                <ul>
                                    {% for chord_type in chord_types %}
                                        <li
                                            {% if chord_type.symbol|length > 4 %}
                                                class="small-font"
                                            {% endif %}
                                        >
                                            {{ chord_type.symbol }}
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% if forloop.counter == 1 %}
                                    <div class="toggle">more &rsaquo;</div>
                                {% else %}
                                    <div class="toggle">&lsaquo; back</div>
                                {% endif %}

                            </div>

                        {% endfor %}

                    </div>

                    <ul class="setting alt_bass_note"></ul>

                </div>

            </section>

        {% endif %}

    </article>

{% endblock %}
