{% extends "base.html" %}
{% load compress %}

{% block css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/apps/chordcharts/chart.less" />
{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script>

        var boxed_chart_data = {{ boxed_chart_json|safe }}

        var settings = {
            box_width: {{ settings.box_width }},
            box_height: {{ settings.box_height }},
            border_width: {{ settings.border_width }},
            section_sidebar_width: {{ settings.section_sidebar_width }},
        }

        settings.sections = []

        {% for section in sections %}
            settings.sections.push({
                alt_title: '{{ section.alt_title }}',
                height: {{ section.boxed_chart.height }}
            })
        {% endfor %}

    </script>
    <script src="{{ STATIC_URL }}js/apps/chordcharts/boxes-draw.js"></script>
    <script src="{{ STATIC_URL }}js/apps/chordcharts/sections-draw.js"></script>
    <script src="{{ STATIC_URL }}js/apps/chordcharts/key-change.js"></script>

    {% if edit %}
        <script src="{{ STATIC_URL }}js/apps/chordcharts/edit.js"></script>
    {% endif %}

{% endblock %}

{% block js_templates %}

    {% if edit %}
        <script type="text/template" class="chord-edit">
            <span class="chord-name"><%= chord_name %></span>
            <ul class="tone-choices"></ul>
        </script>
    {% endif %}

{% endblock %}

{% block content %}

    <article class="chord-chart" style="width: {{ boxed_chart.total_width }}px;">

        <header style="margin-left: {{ boxed_chart.section_sidebar_width }}px;">

            <h1>{{ song_name }}</h1>

            <div class="header-bar">

                <div class="key-select">
                    <div class="closed">
                        <div class="current-key">Key of {{ chart_key }}</div>
                    </div>
                    <div class="open">
                        <div class="current-key">Key of {{ chart_key }}</div>
                        <hr>
                        <div>Transpose to:</div>
                        <ul>
                            {% for key in all_keys %}
                                <li><a href="{% url "chart" song_slug=song_slug key_slug=key.slug %}">{{ key.tone }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="right">
                    {% if edit %}
                        <a class="save" href="{% url "chart" song_slug=song_slug key_slug=chart_key.slug %}">Save</a>
                    {% else %}
                        <a class="edit" href="{% url "chart_edit" song_slug=song_slug key_slug=chart_key.slug %}">Edit</a>
                    {% endif %}
                </div>

            </div>

        </header>

        <div class="boxed-chart">

            {% for section in sections %}

                <section class="section" style="width: {{ boxed_chart.total_width }}px;">

                    {% if section.alt_title %}
                        <header>
                            {{ section.alt_title }}
                        </header>
                    {% endif %}

                    <div class="section-sidebar" style="height: {{ section.boxed_chart.height }}px;">
                        {% if not section.alt_title %}
                            <div class="section-sidebar-title" style="line-height: {{ section.boxed_chart.height }}px;">
                                {{ section.name }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="chord-boxes">

                        {% for line in section.boxed_chart.lines %}

                            <div class="line{% if forloop.first %} line-first{% endif %}">

                                {% for box in line %}

                                    <div class="
                                        box
                                        box-beatschema-{{ box.beat_schema }}
                                        {% if forloop.first %}
                                            box-first
                                        {% endif %}
                                        {% if edit %}
                                            edit-on
                                        {% endif %}
                                    ">

                                        {% if box.beat_schema == "4" %}

                                            <div class="part">
                                                <span class="chord-name">{{ box.parts.0.chart_output }}</span>
                                            </div>

                                        {% endif %}

                                        {% if box.beat_schema == "2-2" %}
                                            <div class="part part-first">
                                                <span class="chord-name">{{ box.parts.0.chart_output }}</span>
                                            </div>
                                            <div class="part part-second">
                                                <span class="chord-name">{{ box.parts.1.chart_output }}</span>
                                            </div>
                                        {% endif %}

                                        {% if box.beat_schema == "2-1-1" %}
                                            <div class="part part-first">
                                                <span class="chord-name">{{ box.parts.0.chart_output }}</span>
                                            </div>
                                            <div class="part part-second">
                                                <span class="chord-name">{{ box.parts.1.chart_output }}</span>
                                            </div>
                                            <div class="part part-third">
                                                <span class="chord-name">{{ box.parts.2.chart_output }}</span>
                                            </div>
                                        {% endif %}

                                    </div>

                                {% endfor %}

                            </div>

                        {% endfor %}

                    </div>

                </section>

            {% endfor %}

        </div>

        <div class="chord-edit"></div>

    </article>

{% endblock %}
