<div class="chart{% if edit %} no-select{% endif %}">

    {% for section in chart.sections %}

        <section class="section" style="width: {{ settings.chart_width }}px;">

            <header class="section-header">
                {% if edit or chart.sections|length > 1 %}
                    {% if forloop.first %}
                        {% if chart.sections|length > 1 %}
                            {% include "chordcharts/chart/section_header.html" with section_name=section.name move_down=1 move_up=0 remove=1 %}
                        {% else %}
                            {% include "chordcharts/chart/section_header.html" with section_name=section.name move_down=0 move_up=0 remove=0 %}
                        {% endif %}
                    {% elif forloop.last %}
                        {% include "chordcharts/chart/section_header.html" with section_name=section.name move_down=0 move_up=1 remove=1 %}
                    {% else %}
                        {% include "chordcharts/chart/section_header.html" with section_name=section.name move_down=1 move_up=1 remove=1 %}
                    {% endif %}
                {% endif %}
            </header>

            <div class="section-sidebar" style="height: {{ section.height }}px; width: {{ settings.section_sidebar_width }}px;"></div>

            <table>

                <tbody class="lines">

                    {% for line in section.lines %}

                        <tr class="line">

                            {% if not edit and line.repeating_measures %}

                                {% for repeating_measure in line.repeating_measures.measures %}

                                    <td class="
                                        repeating-measure

                                        {% if forloop.first %}
                                            {% if line.repeating_measures.span_prev_line %}
                                                span-prev-line
                                            {% else %}
                                                first
                                            {% endif %}
                                        {% endif %}

                                        {% if forloop.last %}
                                            {% if line.repeating_measures.span_next_line %}
                                                span-next-line
                                            {% else %}
                                                last
                                            {% endif %}
                                        {% endif %}
                                    ">

                                        {% if forloop.first %}
                                            <div class="
                                                repeat-range-heading
                                                repeat-range-length-{{ line.repeating_measures.measures|length }}
                                            ">
                                                <span>Repeat {{ line.repeating_measures.subsection_number }} {{ line.repeating_measures.line_letter }} section</span>
                                            </div>
                                        {% endif %}

                                        <div class="range-line-container">
                                            <div class="range-line"></div>
                                        </div>

                                    </td>

                                {% endfor %}

                            {% endif %}

                            {% for measure in line.measures %}

                                <td class="
                                    measure
                                    measure-beatschema-{{ measure.beat_schema }}
                                ">

                                    <div class="chords">
                                        {% for chord in measure.chords %}
                                            <div class="chord chord-{{ chord.number }}">
                                                <span class="chord-name font-size-{{ chord.chart_fontsize }}">
                                                    {{ chord.chart_output }}
                                                </span>
                                            </div>
                                        {% endfor %}
                                    </div>

                                </td>

                            {% endfor %}

                            {% if line.total_measures < 8 %}

                                {% if edit %}

                                    <td class="measure-add colspan" colspan="{{ line.total_measures|add:"-8" }}">
                                        <div class="plus">
                                            <span class="fa fa-plus"></span>
                                        </div>
                                    </td>

                                {% else %}

                                    <td class="colspan" colspan="{{ line.total_measures|add:"-8" }}"></td>

                                {% endif %}

                            {% endif %}

                        </tr>

                    {% endfor %}

                </tbody>

                <tfoot>
                    {% if edit %}
                        {% include "chordcharts/chart/section_line_add.html" %}
                    {% endif %}
                </tfoot>

            </table>

        </section>

    {% endfor %}

    {% if edit %}
        <div class="section-new">
            <span class="fa fa-plus"></span>
            New section
        </div>
    {% endif %}

</div>
