{% extends "base.html" %}
{% load colspan %}

{% block css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/apps/chordcharts/chart.less" />
{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script>

        var GLOBALS = {
            settings: {{ settings_json|safe }},
            chart_data: {{ chart_json|safe }},
            all_keys: {{ all_keys_json|safe }},
            chord_types: {{ chord_types_json|safe }},
            edit: {% if edit %}true{% else %}false{% endif %},
            parsed: false
        }

    </script>
    <script data-main="{{ STATIC_URL }}js/apps/chordcharts/main" src="{{ STATIC_URL }}js/libs/require.js"></script>

    <script type="text/template" id="template-measure-edit-measure">
        <div class="measure measure-beatschema-<%= beat_schema %>">
            <%
            for(var i = 1; i <= num_chords; i++) {
                %>
                <div class="chord-<%= i %>"><%= i %></div>
                <%
            }
            %>
        </div>
    </script>

    <script type="text/template" id="template-section-sidebar-part">
        {% include "chordcharts/section_sidebar_part.html" with mode="<%= mode %>" letter="<%= letter %>" width="<%= width %>" height="<%= height %>" line_number="<%= line_number %>" %}
    </script>

    {% if edit %}

        <script type="text/template" id="template-section-header">
            {% include "chordcharts/section_header.html" with section_name="<%= section_name %>" move_down=1 move_up=1 %}
        </script>

        <script type="text/template" id="template-lines">
            <table class="lines">
                {% include "chordcharts/section_line_add.html" %}
            </table>
        </script>

        <script type="text/template" id="template-section">
            <header class="section-header"></header>
            <div class="section-sidebar" style="height: {{ section.height }}px; width: {{ settings.section_sidebar_width }}px;"></div>
            <table>
                <tbody class="lines"></tbody>
                <tfoot>{% include "chordcharts/section_line_add.html" %}</tfoot>
            </table>
        </script>

    {% endif %}

{% endblock %}

{% block content %}

    <article class="chord-chart{% if edit %} edit-on{% endif %}">

        <header class="chord-chart-header">

            <h1>{{ chart.song.name }}</h1>

            <div class="header-bar">

                <div class="key-select">
                    <div class="closed">
                        <div class="current-key">Key of {{ chart.key.name }}</div>
                    </div>
                    <div class="open">
                        <div class="current-key">Key of {{ chart.key.name }}</div>
                        <hr>
                        <div>Transpose to:</div>
                        <ul>
                            {% for key in chart_keys %}
                                <li><a href="{% url "chart" chart_id=chart.id song_slug=chart.song.slug key_slug=key.slug %}">{{ key.tone }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="right">
                    {% if edit %}
                        <a class="save" href="{% url "chart" chart_id=chart.id song_slug=chart.song.slug key_slug=chart.key.slug %}">Save</a>
                    {% else %}
                        <a class="new" href="{% url "chart_new" %}">New</a>
                        <a class="edit" href="{% url "chart_edit" chart_id=chart.id song_slug=chart.song.slug key_slug=chart.key.slug %}">Edit</a>
                    {% endif %}
                </div>

            </div>

        </header>

        <div class="chart">

            {% for section in chart.sections %}

                <section class="section" style="width: {{ settings.chart_width }}px;">

                    <header class="section-header">
                        {% if edit or chart.sections|length > 1 %}
                            {% if forloop.first %}
                                {% include "chordcharts/section_header.html" with section_name=section.name move_down=1 move_up=0 %}
                            {% elif forloop.last %}
                                {% include "chordcharts/section_header.html" with section_name=section.name move_down=0 move_up=1 %}
                            {% else %}
                                {% include "chordcharts/section_header.html" with section_name=section.name move_down=1 move_up=1 %}
                            {% endif %}
                        {% endif %}
                    </header>

                    <div class="section-sidebar" style="height: {{ section.height }}px; width: {{ settings.section_sidebar_width }}px;"></div>

                    <table>

                        <tbody class="lines">

                            {% for line in section.lines %}

                                <tr class="line">

                                    {% for measure in line.measures %}

                                        <td class="
                                            measure
                                            measure-beatschema-{{ measure.beat_schema }}
                                        ">

                                            <div class="chords">
                                                {% for chord in measure.chords %}
                                                    <div class="chord chord-{{ chord.order }}">
                                                        <span class="chord-name">{{ chord.chart_output }}</span>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                        </td>

                                    {% endfor %}

                                    {% if line.measures|length < 8 %}

                                        {% if edit %}

                                            <td class="measure-add colspan" colspan="{{ line.measures|colspan }}">
                                                <div class="plus">+</div>
                                            </td>

                                        {% else %}

                                            <td class="colspan" colspan="{{ line.measures|colspan }}"></td>

                                        {% endif %}

                                    {% endif %}

                                </tr>

                            {% endfor %}

                        </tbody>

                        <tfoot>
                            {% if edit %}
                                {% include "chordcharts/section_line_add.html" %}
                            {% endif %}
                        </tfoot>

                    </table>

                </section>

            {% endfor %}

            {% if edit %}
                <div class="section-new">New section</div>
            {% endif %}

        </div>

        {% if edit %}

            <section class="chord-edit arrow-popup">

                <div class="arrow-up"></div>

                <header class="chord-edit-header">
                    <nav>
                        <ul class="tabs padding">
                            <li class="active" data-key="note">Note</li>
                            <li data-key="type">Type</li>
                            <li data-key="alt_bass_note">Bass</li>
                        </ul>
                    </nav>
                    <div class="close"></div>
                </header>

                <div class="chord-settings padding">

                    <div class="setting note" data-key="note">
                        <ul></ul>
                    </div>

                    <div class="setting type" data-key="type">

                        {% for chord_types in chord_types_sets %}

                            <div class="type-part type-part-{{ forloop.counter }}">

                                <ul>
                                    {% for chord_type in chord_types %}
                                        <li
                                            {% if chord_type.symbol|length > 4 %}
                                                class="small-font"
                                            {% endif %}
                                        >
                                            {{ chord_type.symbol }}
                                        </li>
                                    {% endfor %}
                                </ul>

                                {% if forloop.counter == 1 %}
                                    <div class="toggle">more &rsaquo;</div>
                                {% else %}
                                    <div class="toggle">&lsaquo; back</div>
                                {% endif %}

                            </div>

                        {% endfor %}

                    </div>

                    <div class="setting alt-bass-note" data-key="alt_bass_note">
                        <div class="none">None</div>
                        <ul></ul>
                    </div>

                </div>

            </section>

            <section class="measure-edit arrow-popup">
                <div class="arrow-up"></div>
                <div class="padding">
                    <div class="close"></div>
                    <ul class="measures"></ul>
                    <div class="clearfix"></div>
                    <div class="remove">Remove measure</div>
                </div>
            </section>

            <section class="section-edit arrow-popup">

                <div class="arrow-up"></div>

                <div class="name">

                    <div class="close"></div>

                    <label>
                        <span class="radio-button">
                            <input type="radio" name="section-name" value="sequence-letter" class="sequence-letter-radio">
                        </span>
                        <span class="label-text">Sequence letter</span>
                        <span class="sequence-letter"></span>
                    </label>

                    <label>
                        <span class="radio-button">
                            <input type="radio" name="section-name" value="custom-name" class="custom-name-radio">
                        </span>
                        <span class="label-text">Custom name</span>
                        <input type="text" class="custom-name-input">
                    </label>

                </div>

            </section>

            <section class="line-edit arrow-popup">

                <div class="arrow-up"></div>
                <div class="header">
                    <div class="close"></div>
                </div>

                <ul class="letters">
                    <li data-letter="A">A</li>
                    <li data-letter="B">B</li>
                    <li data-letter="C">C</li>
                    <li data-letter="D">D</li>
                    <li data-letter="E">E</li>
                </ul>

                <div class="disable-sidebar">Disable sidebar</div>

            </section>

        {% endif %}

    </article>

{% endblock %}
