{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/apps/chordcharts/chord_symbols.less" />
{% endblock %}

{% comment %}
{% block javascript %}
    {{ block.super }}
    <script data-main="{{ STATIC_URL }}js/apps/chordcharts/chord_symbols" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% endblock %}
{% endcomment %}

{% block content %}

    <article class="chord-symbols">

        <header>
            <h1>Chord symbols</h1>
        </header>

        <section>

            <div class="symbols-list">

                <table>

                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Chord name</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for chord_type in chord_types %}
                            <tr>
                                <td>{{ chord_type.symbol }}</td>
                                <td>{{ chord_type.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </div>

            <div class="how-to-play">

                <article class="guitar-fingerboard-chord">

                    <h1>Major</h1>

                    <table>

                        <tbody>
                            <tr>
                                <td><span class="root">◉</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><span>●</span></td>
                                <td><span>●</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><span>●</span></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><span>●</span></td>
                                <td><span>●</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>

                    </table>

                </article>

            </div>

        </section>

    </article>

{% endblock %}
