{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/apps/chordcharts/new.less" />
{% endblock %}

{% block content %}

    <div class="new">

        <header>
            <h1>New chart</h1>
        </header>

        <form class="chart-settings">

            <section class="song-title">
                <label>
                    <h2>Song title:</h2>
                    <input type="text" name="song">
                </label>
            </section>

            <section class="key">

                <h2>Key:</h2>

                <div class="note">

                    <div class="currently-selected">C</div>

                    <ul class="note-choices">
                        <li>C</li>
                        <li>C#</li>
                        <li>D</li>
                        <li>D#</li>
                    </ul>

                </div>

                <div class="tonality">Major</div>

            </section>

        </form>

    </div>

{% endblock %}
