<div class="key-select-widget">

    <div class="tonic _no-select">

        <div class="currently-selected">C</div>

        <div class="tonic-choices _popup-box">

            <div class="_arrow-up"></div>

            <ul class="box-choice-list">
                {% for key, value in key_select_tonics %}
                    <li data-tonic="{{ key }}"{% if loop.first %} class="selected"{% endif %}>
                        {{ value }}
                    </li>
                {% endfor %}
            </ul>

        </div>

    </div>

    <div class="tonality _no-select">
        <span>Major</span>
    </div>

</div>
