.how-to-read {

    margin: 0 auto 50px;
    width: 650px;

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    .measures {

        @import "../core/widgets/_measure.less";

        .measure {
            float: left;
            margin-right: 20px;
        }

    }

}
